<table id="indicator-table">
  <thead>
    <tr>
      <td>Short name</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
      {{> admin/indicator this}}
    {{/each}}
  </tbody>
</table>