<tr>
  <td>
    <h3>Import indicator from Google Drive</h3>

    <ul class="import-options">
      <li>
        Fill-in the Google Drive indicator definition

        <div>
          NRT Indicator Template.xlsx
          <span class="g-savetodrive">
            Loading Google Drive widget...
          </span>
        </div>
      </li>

      <li>
        Provide the Google Spreadsheet key from the resulting spreadsheet.
        <form id="new-indicator-form" method="POST" action="/indicators/import_gdoc">
          <label for="indicator-form-spreadsheet-key">Spreadsheet Key</label>
          <input type="text" name="spreadsheetKey" id="indicator-form-spreadsheet-key">
        </form>
      </li>
    </ul>
  </td>
  <td>
    <button class="submit-new-indicator button" type="submit">Import Indicator</button>
  </td>
</tr>
