<!DOCTYPE html>
<html>
  <head>
    <title>Report show page</title>
    <link rel='stylesheet' href='/clientApp/css/flat-style.css' />
    <script src="/clientApp/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/clientApp/js/lib/json2.js"></script>
    <script src="/clientApp/js/lib/underscore-min.js"></script>
    <script src="/clientApp/js/lib/backbone-min.js"></script>
    <script src="/clientApp/js/lib/handlebars.js"></script>

    <script src="/clientApp/js/lib/diorama.js"></script>

    <script src="/clientApp/js/application.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
         new Backbone.Controllers.ReportsController();
      });
    </script>
  </head>
  <body>
    <h1>Report {{ report_id }}</h1>
  </body>
</html>
