<ul class="dpsir">
  {{#if this}}
    <li title="Driver" class='{{#if driver}}active{{/if}}'>D</li>
    <li title="Pressure" class='{{#if pressure}}active{{/if}}'>P</li>
    <li title="State"class='{{#if state}}active{{/if}}'>S</li>
    <li title="Impact" class='{{#if impact}}active{{/if}}'>I</li>
    <li title="Response" class='{{#if response}}active{{/if}}'>R</li>
  {{else}}
    <li title="Driver">D</li>
    <li title="Pressure">P</li>
    <li title="State">S</li>
    <li title="Impact">I</li>
    <li title="Response">R</li>
  {{/if}}
</ul>
