<ul class="dpsir">
  <li class='{{#if dpsir.driver}}active{{/if}}'>D</li>
  <li class='{{#if dpsir.pressure}}active{{/if}}'>P</li>
  <li class='{{#if dpsir.state}}active{{/if}}'>S</li>
  <li class='{{#if dpsir.impact}}active{{/if}}'>I</li>
  <li class='{{#if dpsir.response}}active{{/if}}'>R</li>
</ul>
