  <li class="home"><i class="icon-home"></i><a href="/">Home</a></li>
  <li class="help-link"><a href="/about" title="About">About</a></li>
  <li class="help-link"><a href="/assets/NRT-User-Manual.pdf" title="NRT User Manual">User manual</a></li>
  <li class="help-link">
    <a href="https://github.com/unepwcmc/NRT/blob/master/README.md" title="Technical Information">Technical Information</a>
  </li>
  <li class="help-link">
    <a href="/architecture">System Architecture</a>
  </li>
  <li class="help-link">
    <a href="/assets/NRT-Data-Schema.pdf" title="Data Schema">Data Schema</a>
  </li>
  <li class="help-link"><a href="/partners" title="Partners">Partners</a></li>
  <li class="help-link">
    <a href="/assets/NRT-API-Specification.pdf">API Specification</a>
  </li>
  <li class="help-link">
    <a href="http://10.20.1.73/nrtimport" title="NRT Data Source - only accessible from EAD internal network">Data Source (EAD Only)</a>
  </li>
