<div class="menu">
  <div class="main-menu-container">
    <div class="main-menu">
      <span class="initials"><i class="icon-home"></i></span>
      <span class="full-name"><span class="name">Blanca Tortajada</span> <i class="icon-chevron-down post-append"></i></span>
    </div>
    <ul class="submenu">
      <li><a href="/dashboard/"><span class="icon"><i class="icon-dashboard append"></i></span>Dashboard</a></li>
      <li><a href="/reports/"><span class="icon"><i class="icon-file-text-alt append"></i></span>Reports</a></li>
      <li><a href="/indicators/"><span class="icon"><i class="icon-bar-chart append"></i></span>Indicators</a></li>
      <li><a href="/bookmarks/"><span class="icon"><i class="icon-bookmark append"></i></span>Bookmarks</a></li>
    </ul>
  </div>
  <div class="search">
    <div class="search-header">
      <div class="search-container">
        <div class="search-icon">
          <i class="icon-search"></i>
        </div>
        <input type="text" value="Search for a report or an indicator">
        <div class="close-search">
          <i class="icon-remove"></i>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="search-box">
      here goes the results <!--pending to add styles for this -->
    </div>
  </div>
  <div class="clear"></div>
</div>

<script>
  /* Basic js for interactions - feel free to change it */
  $(".main-menu").bind('click',function(){
    $(this).toggleClass("opened");
    $(this).find(".full-name i").toggleClass("icon-chevron-down");
    $(this).find(".full-name i").toggleClass("icon-chevron-up");
    $('.submenu').slideToggle(300);
  });
  $(".search-icon").bind('click',function(){
    $(".search-header").addClass("opened");
  });
  $(".close-search").bind('click',function(){
    $(".search-header").removeClass("opened");
  });
  $("button").bind('click',function(){
    $(this).toggleClass("active");
    $(this).find("span").toggleClass("show");
  });
  $('input').each(function(){
    var currentValue = $(this).val();
    if(($(this).attr('type') != "submit")){
      $(this).focus(function(){
        if( $(this).val() == currentValue ) {
          $(this).val('');
          $(this).addClass("filled");
        }
      });
      $(this).blur(function(){
        if( $(this).val() === '' ) {
          $(this).val(currentValue);
          $(this).removeClass("filled");
        }
        else{
          $(this).addClass("filled");
        }
      });
    }
  });
</script>
