<div class="md-modal md-effect-1" id="modal-1">
  <div class="md-box">
    <div class="md-title">
      <h3>Welcome to the National Reporting Toolkit</h3>
      <h4>Proof of concept</h4>
      <a href="mailto:feedback@unep-wcmc.org" class="button feedback">Send us feedback</a>
    </div>

    <div class="md-content">
      <p>
        UNEP-WCMC, in partnership with AGEDI and EAD, are developing NRT,
        a system that helps countries report and manage environmental
        knowledge. This consists of two elements: the environmental
        information itself, in the form of indicators; and a contextual
        narrative that explains the trends and implications of these
        indicators to the audience of decision-makers. As a flexible
        system it supports the compilation of any type of report, from the
        short, single issue indicator report through to larger,
        cross-sectoral State of Environment Report.
      </p>

      {{#if APP_CONFIG.features.ad_branding}}
        <img class="agedi" src="/images/agedi-logo.png" alt="AGEDI">
      {{/if}}
      <img src="/images/tour.png" alt="macbook-tour">
    </div>

    <div class="md-buttons">
      <a href="/about" class="button know-more">I want to know more about NRT</a>
      <a href="/" class="button md-close">Start exploring report</a>
    </div>
  </div>
</div>

<div class="md-overlay"></div>

<script>
  $('.md-trigger').on('click', function() {
    $('#modal-1').addClass('md-show');
  });

  $('.md-overlay, .md-close').click(function() {
    $('#modal-1').removeClass('md-show');
  });

  (function() {
    var getCookie = function(cookieName) {
      var cookies = document.cookie.split(';');

      for (var i = 0, j = cookies.length; i < j; i += 1) {
        var cookie = cookies[i];
        var name = cookieName + "=";

        // Trim leading whitespace
        while (cookie.charAt(0) == ' ') {
          cookie = cookie.substring(1, cookie.length);
        }

        if (cookie.indexOf(name) == 0) {
          return cookie.substring(name.length, cookie.length);
        }
      }

      return null;
    };

    var setCookie = function(name, value) {
      document.cookie = name + "=" + value;
    };

    var showModal = function() {
      $('#modal-1').addClass('md-show');
    };

    if (getCookie('nrt_visited') === null) {
      showModal();
      setCookie('nrt_visited', 'yup');
    }
  })()
</script>
