<script>
  $(document).ready(function() {
    new Backbone.Views.SaveStatusView();
  });
</script>

<div class="edit-bar-container">
  <div class="edit-bar">
    <div class="back save-status-container">
    </div>

    <div class="publish-delete">
      <a class="button" id="publish" href="publish">Publish</a>
      <a class="button" id="save" href="./">Save and exit</a>
      <a class="button" id="delete" href="discard_draft">Discard Draft</a>
    </div>
  </div>
</div>
