{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/admin.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/themes">Themes</a></li>
{{/contentFor}}

<div class="content">
  <header>
    <h1>
      Update indicator data
    </h1>
  </header>

  <p class="readme-link"><a href="/importing_data"><i class="icon-external-link"></i> Read the step by step guide to import data</a></p>
  <p class="readme-link"><a href="mailto:feedback@unep-wcmc.org"><i class="icon-envelope"></i> Get in touch if you have any questions</a></p>

  <div class="actions">
    <a class="button update-all">Update all</a>
    <a href="/admin/seedIndicatorData" class="button">Seed from backup</a>
    <a class="button new-indicator">
      <i class="icon-table append"></i>Add new indicator
    </a>
  </div>

  {{> admin/indicators indicators}}
</div>

<script type="text/javascript" charset="utf-8">

  Controllers.Admin.start()

</script>
