{{!< main}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/themes">Themes</a></li>
{{/contentFor}}

<div class="content">
  <header>
    <h1>
      Manage IndicatorData updates
    </h1>
  </header>

  <table>
    <thead>
      <tr>
        <td>Short name</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{#indicators}}
        <tr>
          <td>
            <p>
            {{title}}
            </p>
            <small>{{id}}</small>
          </td>
          <td class='action-or-response' id="{{id}}">
            <a id="{{id}}" href="#" class='update button'>Update </a>
          </td>
        </tr>
      {{/indicators}}
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
  $('a.update').click(function(e){
    id = e.currentTarget.id;
    console.log('caught click for '+id);
    $.ajax({
      url: "/admin/updateIndicatorData/"+id,
      success: function(data) {
        console.log("success");
        $("#"+id+".action-or-response").text('Success');
      },
      error: function(err){
        $("#"+id+".action-or-response").text('Failed');
        return console.log(err)
      },
    });
  })
</script>
