{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/admin.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/themes">Themes</a></li>
{{/contentFor}}

<div class="content">
  <header>
    <h1>
      Update indicator data
    </h1>
  </header>
  <div class="pull-left">
    <a class="button update-all">Update all</a>
    <a href="/admin/seedIndicatorData" class="button">Seed from backup</a>
  </div>
  <div class="pull-right">
    <a class="button new-indicator">
      <i class="icon-table append"></i>Add new indicator
    </a>
  </div>
  <div class="clear"></div>

  {{> admin_indicator_table indicators}}
</div>

<script type="text/javascript" charset="utf-8">
  $('a.update').click(function(e){
    var id = e.currentTarget.id;
    $.ajax({
      method: 'POST',
      url: '/admin/updateIndicatorData/'+id,
      success: function(data) {
        $('#'+id+'.action-or-response').text('Success');
      },
      error: function(err){
        $('#'+id+'.action-or-response').text('Failed');
        console.log('Message from remote server for '+id+': '+ err.responseText);
      },
    });
  })

  $('a.update-all').click(function(e){
    _.each($('.button.update'), function(elem, idx) {
      setTimeout(function() {
        $(elem).trigger('click');
      }, idx*1000);
    })
  })

  var ajaxFormSubmit = function(ev) {
    ev.preventDefault();

    return $.ajax({
      type: this.attr('method'),
      url: this.attr('action'),
      data: this.serialize(),
      success: function() {
        console.log("Google Spreadsheet successfully imported");
      },
      error: function(res) {
        console.log("Error importing google doc");
        alert("Unable to import google spreadsheet");
        throw new Error(res.responseText);
      }
    });
  };

  $('.new-indicator').click(function(){

    $.get('/indicators/new').success(function(data) {
      var table = $('#indicator-table')
      table.find('tbody').prepend(data);

      table.find('form').submit(function(ev) {
        ajaxFormSubmit.call(
          $(this), ev
        );
      });
    }).error(function(err) {
      console.log(err);
    });
  })

</script>
