{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/admin.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/themes">Themes</a></li>
{{/contentFor}}

<div class="content">
  <header>
    <h1>
      Update indicator data
    </h1>
  </header>

  <p class="readme-links">Adding new indicator data is very simple, please follow <a href="/importing_data">the instructions</a> and <a>get in touch</a> if you have any questions.</p>

  <div class="actions">
    <a class="button update-all">Update all</a>
    <a href="/admin/seedIndicatorData" class="button">Seed from backup</a>
    <a class="button new-indicator">
      <i class="icon-table append"></i>Add new indicator
    </a>
  </div>

  {{> admin/indicators indicators}}
</div>

<script type="text/javascript" charset="utf-8">

  Controllers.Admin.start()

</script>
