@import "variables";

.actions {
  overflow: hidden;

  a {
    float: left;
    margin-right: 5px;
  }

  .new-indicator {
    float: right;
  }
}

table {
  width: 100%;
  margin-top: 10px;
  color: $grey;

  h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  button {
    float: left;
    color: $linkBlue;
    padding: 8px 20px;
    margin-left: 10px;
    width: 88px;
  }

  input[type="text"] {
    margin-left: 10px;
    border: 1px solid $lightishGrey;
    border-radius: 5px;
  }

  td:last-child {
    width: 200px;

    .spinner {
      float: left;
      margin-top: 4px;
      margin-left: 42px;
      margin-right: 30px;
    }
  }
}
