@import "variables";

section.introduction {
  padding-top: 0;
}

.content {
  &.indicator {
    padding-top: 40px;
    header {
      .dpsir {
        float: right;
        font-size: 30px;
        margin-top: -30px;
      }

      h1{
        padding-top: 15px;
        padding-bottom: 25px;
      }
      .indicator-buttons{
        float:right;
        width: 300px;
        a {
          position: relative;
          float: right;
          margin-bottom: 5px;
        }
      }
      .parameter {
        width: 650px;
        position: relative;
        color: $lightishGrey;
        &.p-select{
          .score{
            cursor: pointer;
          }
        }
        h4{
          text-align: center;
          color: $white;
        }
        p {
          color: $lightishGrey;
          font-size: 0.8em;
          line-height: 35px;
          span.separator {
            padding: 0 5px;
          }
        }
        .score {
          margin-right: 15px;
          border: 1px solid #7BAB3C;
          display: inline-block;
          float: left;
          height: 35px;
          vertical-align: middle;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          span {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
            padding: 0 10px;
            &.number {
              font-size: 1.2em;
              font-weight: bold;
              color: #7BAB3C;
            }
            &.keyword {
              background-color: #7BAB3C;
              color: rgba(255,255,255, 0.85);
              font-size: 0.85em;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .select-modal {
    padding: 10px 10px 5px;
    background-color: #333;
    border-radius: 4px;
    position: absolute;
    top: 47px;
    left: 0;
    z-index: 1;
    &:before{
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #333;
      top: -8px;
      left: 50%;
      margin-left: -4px;
    }
    ul{
      list-style: none;
      padding: 10px 0 0 0;
      li{
        padding: 5px 20px;
        font-size: 0.8em;
        text-align: left;
        border-top: 1px solid #4d4d4d;
        &:hover{
          cursor: pointer;
          color: $white;
          background-color: $mainBlue;
        }
      }
    }
  }

  .indicator-narratives {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type: none;
      padding: 15px 0;
    }

    header {
      border: 0;
    }

    small {
      top: -21px;
      font-size: 11px;
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
      padding: 0;
    }

    h4{
      color: $grey;
      font-size: 14px;
    }

    p {
      padding-bottom: 15px;
    }
  }
}

span.recency-tag {
  display: inline-block;
  line-height: 1.8em;
  font-size: 0.85em;
  border: 1px solid #66bd63;
  color: #66bd63;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  margin-left: 5px;
  opacity: 0.8;

  &.warning {
    border: 1px solid $orange;
    color: $orange;
  }

  i {
    padding-right: 5px;
    color: $orange;
  }
}

span.source {
  cursor: pointer;
}

@import "indicator_selector";
@import "visualisation";
