<!DOCTYPE html>
<html>
  <head>
    <title>{{ indicator }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ indicator }}</h1>
    <p>Welcome to {{ indicator }}</p>
  </body>
</html>