<!doctype html>
<html>
  <head>
    <meta charset="utf-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Diorama library tests</title>
    <link rel="stylesheet" href="/css/testLibs/mocha.css">
  </head>                    
  <body>                     
    <div id="mocha"></div>   

    <div id="test-container"></div>

    <script src="/js/testLibs/mocha.js"></script>
    <script src="/js/testLibs/chai.js"></script>
    <script src="/js/testLibs/sinon-1.6.0.js"></script>
    <script src="/clientApp/js/lib/jquery-1.9.1.min.js"></script>
    <script src="/clientApp/js/lib/json2.js"></script>
    <script src="/clientApp/js/lib/handlebars.js"></script>
    <script src="/clientApp/js/lib/underscore-min.js"></script>
    <script src="/clientApp/js/lib/backbone-min.js"></script>
    <script src="/clientApp/js/lib/diorama.js"></script>

    <script>
      mocha.setup({
        ui: 'bdd',
        globals: ['$', 'jQuery*']
      })
    </script>                

    <!-- Application -->
    <script src="/clientApp/js/application.js"></script>

    <!-- Tests -->
    <script src="/js/tests.js"></script>

    <!-- trigger the mocha runner -->
    <script>
      mocha.run();
    </script>


  </body>
</html>
