{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">

  <header>
    <h1>Welcome to the National Reporting Toolkit</h1>
  </header>

  <div class="row">
    The National Reporting Toolkit is a proof-of-concept application designed to...<br>
    Why not get started by reviewing the <a href="/reports">reports</a> in the
    system, or the <a href="/dashboard">dashboard</a>?

    <div class="clear"></div>
  </div>
</div>
