{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/about.css">
{{/contentFor}}


<div class="content about">
  {{{aboutHTML}}}
</div>
