{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/about.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li class="home"><i class="icon-home"></i><a href="/">Home</a></li>
  <li class="help-link"><a href="/about" title="About">About</a></li>
  <li class="help-link"><a href="/assets/NRT-User-Manual.pdf" title="NRT User Manual">User manual</a></li>
  <li class="help-link">
    <a href="https://github.com/unepwcmc/NRT/blob/master/README.md" title="Technical Information">Technical Information</a>
  </li>
  <li class="help-link">
    <a href="/architecture">System Architecture</a>
  </li>
  <li class="help-link">
    <a href="/assets/NRT-Data-Schema.pdf" title="Data Schema">Data Schema</a>
  </li>
{{/contentFor}}

<div id="heading-container">
  <section>
    <h1>Welcome to National Report Toolkit</h1>
    <h2>Monitor environmental information at any time</h2>
    <a href="/"><button>Start reviewing themes</button></a>
    <img src="images/screen_1.png" width="" height="" alt="" />
  </section>
</div>

<section>
  <div class="column left">
    <h2>A proof-of-concept application</h2>

    <p>
      UNEP-WCMC, in partnership with AGEDI and EAD, are developing NRT, a
      system that helps countries report and manage environmental
      knowledge. This consists of two elements: the environmental
      information itself, in the form of indicators; and a contextual
      narrative that explains the trends and implications of these
      indicators to the audience of decision-makers. As a flexible system
      it supports the compilation of any type of report, from the short,
      single issue indicator report through to larger, cross-sectoral
      State of Environment Report.
    </p>
  </div>

  <img class="float-right" src="images/screen_2.png" width="" height="" alt="" />
</section>

<section id="quote">
  <div class="column left">
    <blockquote>
      “Imagine a new way to have more accurate information and deliver
      faster the information to decision-makers.”
    </blockquote>
  </div>

  <div class="column right">
    <p>
      Through online collaborative report writing, pre-loaded templates
      and data visualisation, the often lengthy process of writing,
      styling and proofing a report is significantly diminished, allowing
      more accurate and current information to be delivered faster to
      decision-makers and reducing delays due to reporting lag.
    </p>

    <p>
      NRT is currently under development. Phase 1 of development (2013)
      should prove that using NRT can ensure the most recent data is
      reported and that it takes lesss time to write a report. The next
      phases will roll the software out to a number of different
      countries.
    </p>
  </div>
</section>

<section id="feedback">
  <h2>We need your feedback</h2>

  <div class="column left">
    <p>
      We are developing this toolkit through an iterative method,
      presenting several releases at roughly 6 week intervals to ensure
      that what is delivered in December as the final release is most
      aligned with the needs of you, the user. You are about to view
      Release 2, which contains most of the functionality you would
      expect in the final release.
    </p>
  </div>

  <div class="column right">
    <p>
      This is why we need your feedback. We want to make sure the toolkit
      is as useful as possible for you, so if you have any questions or
      feedback, please email. Our developer team will take your comments
      on board and begin modifying NRT as soon as this session is
      complete.
    </p>

    <a href="mailto:feedback@unep-wcmc.org">
      <button>Send us feedback</button>
    </a>
  </div>
</section>

<section id="conclusion">
  <h2>What benefits will National Reporting Toolkit generate?</h2>

  <div class="column left">
    <p>
      With a more accurate and comprehensive flow of data, informed
      decision-making can occur: environmental information is the
      currency required by planners to deliver an environmentally sound
      development agenda. Outputs from NRT can be used to provide the
      evidence base for new plans, as well as providing a platform to
      monitor and demonstrate the success of implementation through
      indicator reports.
    </p>
  </div>

  <div class="column right">
    <p>
      As such NRT can catalyse global efforts to reduce environmental
      impact and deliver real gains to the wellbeing of human populations
      without compromising the ecological base we all depend on. In this
      way NRT can provide useful tools to enable the transition to a Green
      Economy based on environmentally responsible economic
      development.
    </p>
  </div>

  <div class="clear"></div>
  <a href="/"><button>Start reviewing themes</button></a>
  <img src="images/screen_3.png" width="" height="" alt="" />
</section>
