{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">

  <header>
    <h1>Welcome to the National Reporting Toolkit</h1>
  </header>

  <div class="row">
    The National Reporting Toolkit is a proof-of-concept application designed to...<br>
    Why not get started by reviewing the <a href="/reports">reports</a> in the
    system, or the <a href="/dashboard">dashboard</a>?

    {{{aboutHTML}}}
<h2>
  NRT can make regional reporting easier, faster, cheaper and more reliable
</h2>
<p>
  The NRT system is designed to be scaled as needed; so while its roots are at the national scale, its range of applications extends through the regional to the global scale. In the current proof-of-concept stage NRT aims to provide Government officials with the tools they need to produce reports which contain the most up-to-date data as quickly as possible. This same principle applies at the regional scale: we are building a system that can manage the analysis of environmental data and the compilation of reports to expedite the transfer of information to decision-makers at the appropriate level.
</p>
<img src="http://s3.amazonaws.com/place-it/public/uploads/productshot/919895/breezi_placeit.png" alt="" width="450px" style='float:right'/>

<h2>
  In doing so, it delivers beneficial impacts for the environment and human development
</h2>
<p>
  With a more accurate and comprehensive flow of data, informed decision-making can occur: environmental information is the currency required by planners to deliver an environmentally sound development agenda . Outputs from NRT can be used to provide the evidence base for new plans, as well as providing a platform to monitor and demonstrate the success of implementation through indicator reports. As such NRT can catalyse global efforts to reduce environmental impact and deliver real gains to the wellbeing of human populations without compromising the ecological base we all depend on.  In this way NRT can provide useful tools to enable the transition to a Green Economy based on environmentally responsible economic development, paving the way to “the future we want”.
</p> 
<h2>
  National-level State of the Environment Reporting is enhanced
</h2>
<p>
  NRT is a system that helps countries report and manage environmental knowledge. This consists of two elements: the environmental information itself, in the form of indicators; and a contextual narrative that explains the trends and implications of these indicators to the audience of decision-makers. NRT aims to provide the most up-to-date data to users, so that reports written show the current state of the environment. As a flexible system it supports the compilation of any type of report, from the short, single issue indicator report through to larger, cross-sectoral State of Environment Report. Through online collaborative report writing and pre-loaded templates,  the often lengthy process of writing, styling and proofing a report is significantly diminished, allowing more accurate and current information to be delivered faster to decision-makers and reducing delays due to reporting lag.
</p>

<h2>
  A programme to develop capacity, solving key technical problems, and making space to address social and political issues
</h2>
<p>
  RT builds capacity to manage environmental information by presenting the most up-to-date information through online data visualisation tools, while providing access to best practice through peer-to-peer learning. Users will be able to explore and interrogate recent and accurate data through an intuitive, widely-accessible browser-based  system. As this hastens the transfer of information from monitoring to decisions, decision-making capacity is also built. The investment in NRT software solves the current problems with state of the environment reporting; namely that it is a lengthy, costly and relatively ineffective means of transferring information.
</p>
<p>
  It  also provides a platform for critical social and political issues to be explored. With regional coordination of deployment, discussions can be held around data standards, translation of standards across boundaries and cultures and data sharing agreements, topics which have been under discussion for several years by the Convention on Biological Diversity and the Intergovernmental Platform on Biodiversity and Ecosystem Services. This process can help build expertise in the region to manage the process of data collection, indicator development and information communication, raising the capacity to provide accurate, timely data to evidence-based decision making processes.
</p> 
<h2>
  It works through partnerships
</h2>
<p>
  The current proof-of-concept phase of NRT is the result of collaboration of a consortium which combines a range of complementary expertise, including UNEP, the Environment Agency - Abu Dhabi (EAD) and the Abu Dhabi Global Environmental Data Initiative (AGEDI), UNEP-WCMC and a local consultant team. The next phase will operationalise NRT in 6 countries in the West Asia region, which again will rely upon close collaboration with the government and with a range of specialist partners to provide crucial input to the project. We are balancing the specific needs of the current user with an architecture which allows the system to be rolled out on a much larger scale to many more countries, each with their own nuanced agendas.
</p> 
<h2>
  And the project is gaining momentum
</h2>
<p>
  NRT cuts across much of UNEP’s programme of work for 2014-2018 and can provide crucial contributions to: the Strategic Plan for Biodiversity 2010-2020, including the 20 Aichi Biodiversity Targets; ongoing discussions to mobilise the Rio+20 Outcome; and the Sustainable Development Goals agenda. With internet usage and technology adoption accelerating across the African continent, UNEP ROA, supported by UNEP-WCMC, are in a unique position to communicate with nearly a billion people. Deploying NRT can help countries and regional bodies maintain relevance in this fast developing area, providing the tools needed to ensure development in human and economic spheres does not come at a huge environmental cost. In doing so African countries can become the trend-setters, breaking new ground on the road to a global Green Economy where economic development comes side-by-side with environmental protection and restoration.
</p> 




    <p>
      For more info visit <a href="http://agedi.ae">AGEDI</a>, <a href="http://unep-wcmc.org">UNEP-WCMC</a>
    </p>
    <div class="clear"></div>
  </div>
</div>
