{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">

  <div class="dashboard-title">
    <h1>Dashboard</h1>
  </div>
  
  <section>
    <div class="column-2">
      <div class="content-left">
        <h2><i class="icon-tasks"></i>Work in progress</h2>
      </div>
      <div class="content-right">
        <h2><i class="icon-exchange"></i>Notifications</h2>
      </div>
    </div>
  </section>

  <section>
    <div class="column-2">
      <div class="content-left">
        <h2><i class="icon-file-text-alt"></i>Latest edited reports</h2>
      </div>
      <div class="content-right">
        <h2><i class="icon-bar-chart"></i>Latest edited indicators</h2>
      </div>
    </div>
  </section>

</div>