{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">
  
  <div class="dashboard-title">
    <h1>Dashboard</h1>
  </div>
  
  <div class="column-2">
    <div class="content-left">
      Left
    </div>
    <div class="content-right">
      Right
    </div>
  </div>

</div>