{
  "instance_name": "Abu Dhabi",
  "iso2": "AD",
  "db": {
    "name": "nrt_env"
  },
  "features": {
    "ldap": false,
    "open_access": false,
    "dpsir_filtering": true
  },
  "deploy": {
    "server_name": "abu-dhabi-production",
    "github": {
      "password": "x-oauth-basic",
      "username": "<oauth-token-goes-here>"
    }
  }
}
