{
  "instance_name": "Abu Dhabi",
  "server_name": "staging",
  "db": {
    "name": "nrt_env"
  },
  "features": {
    "ldap": false,
    "dpsir_filtering": true
  },
  "deploy": {
    "github": {
      "password": "x-oauth-basic",
      "username": "<oauth-token-goes-here>"
    }
  }
}
