.axis path {
  fill: none;
  stroke: #34495E;
  shape-rendering: crispEdges; }

.axis line {
  fill: none;
  stroke: #34495E;
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

text {
  fill: #34495E; }


path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #eee;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
