@import "variables";
@import "mixins";

.indicator-selector {
  .editor { 
    border: 0;
    background-color: white;
  }

  aside {
    border-left: 0;
    float: left;
    background-color: $barBlue;
    height: 100%;
    width: 231px;

    .origin {
      background-color: white;
      height: 60px;
      width: 220px;
      padding: 0 5px;
      border: 1px solid $lightGrey;
      border-right: 0;
    }

    .themes {
      color: white;
      font-weight: bolder;

      li {
        border-bottom: 1px solid #276CA9;
        background-color: #2E86D1;
        font-size: 15px;
        padding: 10px 5px;
      }

      li.active{
        background-color: #2B3E50;
      }

      li:hover {
        cursor: pointer;
      }
    }

  }

  .main {
    float:left;
    width: 668px;

    .search {
      color: $differentGrey;
      height: 60px;
      border: 1px solid $lightGrey;
      padding: 15px;
      height: 30px;

      i, input {
        font-size: 21px;
      }

      input {
        width: 585px;
        color: $differentGrey;
        border: 0;
      }

      i.clear-search {
        cursor: pointer;

        &:hover {
          color: $darkGrey;
        }
      }
    }

    .indicators {
      height: 514px;
      overflow: scroll;

      li {
        border-bottom: 1px solid $lightGrey;
        padding: 15px;
      }

      li:hover {
        cursor: pointer;
      }
    }
  }
}
