@import "variables";
@import "mixins";

.indicator-selector {

  article {
    height: 480px;
    overflow: scroll;
    border-top: 1px solid #DDD;
    width: 100%;

    h3 {
      padding: 10px 20px;
      background-color: #DDD;
    }
  }

  .indicators {
    background-color: $white;
    @include box-sizing(border-box);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 2;
    list-style-type: none;
    padding: 0;

    li {
      border-bottom: 1px solid #DDD;
      @include clearfix;
      padding: 0;

      & > div {
        float: left;
      }

      .icon {
        width: 13px;
        padding: 20px 23px;
      }

      .info {
        width: 808px;
        padding: 20px 15px;
        border-left: 1px solid #DDD;

        &:hover {
          background: $linkBlue;
          color: white;
          cursor: pointer;

          h4 {
            color: white;
          }
        }

        p {
          padding-bottom: 0;
          font-size: 0.75em;
          line-height: 1.3em;
        }
      }

      .h4 {
        font-weight: 600;
        font-size: 0.85em;
      }
    }
  }
}
