//COLORS
// When defining shades of a color, please order them light-to-dark
$white: #fff;
$black: #333;

$green: #0FB351;
$greenHover: #0DAB4C;

$red: #D90000;
$redHover: #CC0000;

// Blues
$mainBlue: #168bdc;
$buttonBlue: #007dbb;
$linkBlue: #008ED6;
$linkBlueHover: #0aadff;
$lighterLinkBlue: #008fd6;
$savingBlue: #005f99;

// Greys
$grey: #808080;
$mediumGrey: #949494;
$differentGrey: #B6B6B6;
$lightishGrey: #c3c3c3;
$lightGrey: #eee;
$bkgGrey: #f7f7f7;
$darkGrey: #666;

$iconColor: #444;
$mainFont: #333;

$orange: #FDBC57;
$green: #18bf3c;
