@import "font-awesome";
@import "mixins";
@import "variables";

section {
  display: block;
  position: relative;
  padding: 60px 20px;
  width: 980px;
  margin: auto;
  overflow: hidden;
  h1, h2 {
    font-family: 'PT sans', sans-serif;
  }
  h1 {
    font-size: 2.75em;
  }
  h2 {
    padding-bottom: 1em;
  }
  p {
    font-size: 0.8em;
    line-height: 1.6em;
    padding-bottom: 10px;
  }
  button {
    display: block;
    margin: 30px auto;
    color: $buttonBlue;
    border: 1px solid $buttonBlue;
    font-size: 1em;
    padding: 5px 15px;
  }
  img {
    display: block;
    padding: 0;
    margin: auto;
    &.float-right {
      position: absolute;
      right: 0;
      top: 60px;
    }
  }
  blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.65em;
    line-height: 1.35em;
  }
  .column {
    width: 460px;
    &.left {
      float: left;
    }
    &.right {
      float: right;
    }
  }
  &#quote {
    padding: 50px 20px 60px 20px;
  }
  &#feedback {

    img.diagram {
      padding: 20px;
    }
    border-top: 1px solid $lightGrey;
    border-bottom: 1px solid $lightGrey;
    button {
      margin: 30px 0 0 0;
      color: $green;
      border: 1px solid $green;
      &:hover {
        color: $greenHover;
        border: 1px solid $greenHover;
      }
      &:active{
        color: $white;
        background-color: $greenHover;
        border: 1px solid $greenHover;
      }
    }
  }
  &#conclusion {
    h2 {
      text-align: center;
    }
    padding-bottom: 0;
    button {
      margin-bottom: 45px;
    }
  }
}


div#heading-container {
  background-color: $bkgGrey;
  section {
    display: block;
    padding: 50px 0 0 0;
    margin: auto;
    h1, h2 {
      text-align: center;
    }
    h2 {
      padding-bottom: 0;
    }
  }
}

footer {
  margin-top: 0;
}

.breadcrumbs {
  li.help-link:before {
    content: "";
    padding: 0;
  }

  li.help-link {
    margin-right: 10px;
  }
}


