//COMMON CONTENT
@import "mixins";
@import "variables";

$padding: 1.333em;
$margin: 0.667em;
$title-padding: 0.799em;
$title-margin: 0.4em;
$padding-right: 1.333em;
$green: #55b265;
$orange: #ffbd4c;

h4 {
  font-size: .9em;
  line-height: 1.3em;
  color: $grey;
  span.bold {
    font-weight: bold;
  }
}

p {
  font-size: .75em;
}

div.row {
  .column {
    padding: 40px 15px;

    ul {
      line-height: 0.8em;

      &.notifications {
        font-size: 0.8em;
        padding: 0 0 30px 0;
        color: $grey;

        li {
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          list-style-position: inside;

          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  div.last-update {
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
  }

  border-bottom: 1px solid #eee;
  padding-bottom: $padding;
  margin-bottom: $margin;

  div.green {i {color: $green;}}
  div.orange {i {color: $orange;}}

  h2 {
    padding-bottom: $padding * .4;
    margin-bottom: $margin * .4;
  }

  h3 {
    i {
      padding-right: .5em;
    }
  }

  i {
    padding-right: 0.5em;
  }

  .content-left {
    float: left;
    width: 50%;
  }

  .content-right {
    float: left;
    max-width: 50%;
  }

  .content-title {
    padding-bottom: $title-padding;
    margin-bottom: $title-margin;
  }

  .indicator {
    p {
      padding: 0;
    }
  }

  .report, .indicator {
    padding-bottom: $padding * .6;
    margin-bottom: $margin * .6;

    h3 a {
      color: inherit;
      border: 0;

      &:hover {
        color: #0aadff;
        text-decoration: none;
      }
    }
  }

  .report-bar-container {
    border: 1px solid $lightGrey;
    border-radius: 12px;
    .report-bar {
      border-radius: 12px;
      height: 1.2em;
      padding: 3px 0;
      text-align: left;
      line-height: 0;
      p {
        padding: 0;
        padding-top: 0.6em;
        line-height: 0;
        padding-left: 1.7em;
        color: white;
      }
    }
  }

  section {
    overflow: hidden;
    padding-top: .3em;
    margin-top: 1.1em;
    .section-title {
      padding-bottom: 0;
    }
    .bookmarked {
      i {
        color: $buttonBlue;
      }
    }
  }

  .clear {
    clear: both;
  }

  .reports {
    p {
      margin: 15px 0 0 0;
    }
  }
}

div.row:first-child {
  .column {
    padding-right: $padding-right;
  }
  ul {
    padding: 0 0 .2em 1em;
    li {
      color: $grey;
      padding: .3em 0;
    }
  }
}

div.row.row-2 {
  h3 {
    font-weight: bold;
  }
}

.reports {
  .report-bookmark {
    display: inline-block;
  }

  .report-bookmark,
  .icon-bookmark {
    &:hover {
      color: $buttonBlue;
      cursor: pointer;
    }
  }
}

.reports .icon-bookmark {
  &.selected {
    color: $buttonBlue;
  }
}

.reports-container,
.indicators-container {
   .theme-list {
     width: 709px;
   }

  .report-content, .theme-list {
    float: left;
    padding-left: 0;
    margin-top: 30px;
    width: 729px;

    .section-title h3 {
      a {
        border-bottom: 0;
      }

      a,
      a:hover {
        color: rgba(0,0,0,0.8)
      }

      a:hover {
        border-bottom: 1px solid rgba(0,0,0,0.8);
      }
    }
  }

  .report-sidebar {
    float: right;
    padding-right: 0;
    width: 290px;

    .filters {
      border: 1px solid #0A5789;

      h3 {
        color: #00558b;
        font-weight: bold;
      }

      ul {
        border-top: 1px solid #0A5789;
        list-style-type: none;
        padding: 0;
        border-bottom: 10px solid #00558b;

        &:last-of-type {
          border-bottom: none;
        }

        li {
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: #0068a6;
          color: white;
          font-weight: bold;
          border-bottom: 1px solid #00558b;
          font-size: 0.8em;

          &:hover {
            cursor: pointer;
            background-color: #043857;
            border-bottom: 1px solid #0A558B;
          }

          i {
            margin-right: 15px;
          }
        }
      }

      h3 {
        margin: 10px;
      }
    }
  }
}

.theme-page{
  footer{
    margin-top: 0;
  }
  .theme-block h2{
    margin-bottom: 25px;
  }
}

.theme-indicators {
  background-color: $lightGrey;
  padding-bottom: 30px;
  overflow: hidden;
}

.theme-indicators .inner {
  margin: 0 auto;
  width: 980px;
  padding: 0 20px;
}

.theme-block {
  overflow: hidden;

  .description-block {
    margin-bottom: 15px;
  }

  p {
    font-size: 1em;
    margin-bottom: 25px;
    span{
      font-size: 0.8em;
    }
  }
  h2{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin: 30px 0 20px 0;
  }
}

.theme-list {
  background-color: $lightGrey;
  .menu {
    background-color: #fff;
  }
  .breadcrumbs { /* As theme list is the first page you see breadcrumb is no needed */
    display: none;
  }
  .content {
    padding-top: 49px;
  }
}

.indicators-container {
  .report-content, .theme-list {
    width: 735px;
  }
}

.full-name,
.brief {
  position: absolute;
  width: 100%;
  height: 50%;
  color: #fff;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  @include box-sizing(border-box);
}

.full-name {
  top: 0;
  left: 0;
  background: #2c3e50;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 300;
  padding: 20px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  span{
    display: inline-block;
    margin-left: 8px;
    line-height: 0;
    font-size: 1.9em;
    vertical-align: top;
    position: relative;
    top: 9px;
  }
}

.brief {
  top: 50%;
  left: 0;
  background: #fff;
  color: $mainFont;
  font-size: 0.8em;
  line-height: 1.4em;
  padding: 13px 20px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.indicator-box:hover .full-name,
.indicator-box:hover .brief {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.indicator-box {
  -webkit-backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  width: 235px;
  height: 219px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  float: left;
  margin: 0 10px 12px 0;
  .box-header {
    height: 50px;
    background-color: #2D3E4F;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    h3 {
      width: 100%;
      color: #fff;
      font-size: 0.8em;
      line-height: 1.2em;
      height: 50px;
      display: table;
      span {
        display:inline-block;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  h4 {
    font-size: 3.25em;
    text-align: center;
    font-weight: 600;
    color: $mainFont;
    line-height: 1.2em;
    position: relative;
    top: 2px;
  }
  .title {
    padding-left: 12px;
  }
  .unit {
    color: $mainFont;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2em;
    position: relative;
    top: -6px;
    color: $grey;
  }
  .context-text{
    padding: 2px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    color: #fff;
    &.excellent {
      color: #fff;
      background-color: #1d649f;
    }
    &.good {
      color: #fff;
      background-color: #2171b5;
    }
    &.concerning {
      color: #fff;
      background-color: #4292c6;
    }
    &.bad {
      color: #fff;
      background-color: #6baed6;
    }
    &.catastrophic {
      color: #fff;
      background-color: #8bbfdb;
    }
  }
  .last-update {
    width: 100%;
    margin-top: 6px;
    font-size: 0.65em;
    padding: 0 15px;
    font-weight: 600;
    color: $grey;
    position: relative;
    border-top: 1px solid $lightGrey;
    top: -2px;
  }
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border-radius: 2px;
  &.up-to-date {
    background-color: #66bd63;
  }
  &.out-of-date {
    background-color: #fdb24c;
  }
  &.overdue {
    background-color: #fc4e2a;
  }
}

.section-title {
  h4 a, h3 a, .report-link a {
    text-decoration: none;
    border: none;
  }
  h4 a, .report-link a {
    color: $grey;
  }
  h3 a {
    color: rgba(0,0,0,0.8);
  }
  .report-link {
    a:hover {
      color: $linkBlue;
    }
    a {
      font-weight: bold;
    }
  }
}

.indicator-value,
.indicator-info {
  float:left;
}
.indicator-value {
  padding: 15px 0;
  font-size: 45px;
  font-weight: bold;
  width: 75px;
  text-align: center;
  border-right: 1px solid #eeeeee;
  margin-right: 10px;

  small {
    font-size: 20px;
  }
}
.indicator-info {
  width: 353px;
}

aside.theme-recency {
  width: 200px;
  margin-top: 96px;

  ul.side-theme-list {
    li {
      cursor: pointer;

      h4 {
        border-bottom: 1px solid #dddddd;
        font-size: 15px;
        color: #008ed6;
        cursor: pointer;
        &:hover{
          color: #0aadff;
         }
      }

      ul.indicator-recency-list {
        a:hover{
          color: #008ed6;
        }
        li {
          overflow: hidden;
          font-size: 12px;
          line-height: 18px;
          span {
            float:left;
            width: 180px;

            &.status {
              margin-top: 3px;
              width: 10px;
            }
          }
        }
      }
    }
  }
}
