//COMMON CONTENT
@import "mixins";
@import "variables";

$padding: 1.333em;
$margin: 0.667em;
$title-padding: 0.799em;
$title-margin: 0.4em;
$padding-right: 1.333em;
$green: #55b265;
$orange: #ffbd4c;

*, *:after, *:before {
  box-sizing: border-box;
}

h3 {
  color: #333;
}

h4 {
  font-size: .9em;
  line-height: 1.3em;
  color: $grey;
}

p {
  font-size: .75em;
}

.dashboard-title {
  border-bottom: 1px solid #eee;
  padding-bottom: $title-padding;
  margin-bottom: $title-margin;
  h1 {
    display: inline-block;
  }
  button {
    float: right;
    margin-top: 0.938em;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid $lightishGrey;
    color: $lightishGrey;
    font-weight: 400;
    span{
      display: inline;
    }
    a:hover, a:visited, a:link, a:active {
      color: $lightishGrey;
      text-decoration: none;
      border: none;
    }
    a:hover {
      color: $buttonBlue;
    }

  }
}

div.row {

  div.last-update {
    padding: $padding * .6 0;
    margin: $margin * .6 0;
  }

  border-bottom: 1px solid #eee;
  padding-bottom: $padding;
  margin-bottom: $margin;

  div.green {i {color: $green;}}
  div.orange {i {color: $orange;}}

  h2 {
    padding-bottom: $padding * .4;
    margin-bottom: $margin * .4;
  }

  h3 {
    i {
      padding-right: .5em;
    }
  }
  
  i {
    padding-right: 1em;
  }

  .content-left {
    float: left;
    width: 50%;
  }
  
  .content-right {
    float: left;
    max-width: 50%;
  }

  .content-title {
    padding-bottom: $title-padding;
    margin-bottom: $title-margin;
  }

  .indicator {
    p {
      padding: 0;
    }
  }

  .report, .indicator {
    padding-bottom: $padding * .6;
    margin-bottom: $margin * .6;
  }

  .report-bar-container {
    border: 1px solid $lightGrey;
    border-radius: 12px;
    .report-bar {
      border-radius: 12px;
      height: .8em;
      padding: .1em 0;
      text-align: left;
      line-height: 0;
      p {
        padding: 0;
        padding-top: 0.5em;
        line-height: 0;
        padding-left: 1.7em;
        color: white;
      }
    }
  }
  
  .clear {
    clear: both;
  }
 
}

div.row:first-child {
  .column {
    padding-right: $padding-right;
  }
  ul {
    padding: 0 0 .2em 1em;
    li {
      color: $grey;
      padding: .3em 0;
    } 
  }
}




