//COMMON CONTENT

@import "mixins";
@import "variables";


.dashboard-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

section {
  border-bottom: 1px solid #eee;
  padding-bottom: 60px;
  margin-bottom: 10px;
  i {
    padding-right: 15px;
  }
}

.column-2 {
    width: 100%;
    min-width: 500px;
}

.content-left {
    float: left;
    width: 50%;
}

.content-right {
    float: left;
}