//COMMON CONTENT
@import "mixins";
@import "variables";

$padding: 1.333em;
$margin: 0.667em;
$title-padding: 0.799em;
$title-margin: 0.4em;
$padding-right: 1.333em;
$green: #55b265;
$orange: #ffbd4c;

*, *:after, *:before {
  box-sizing: border-box;
}

h3 {
  color: #333;
}

h4 {
  font-size: .9em;
  line-height: 1.3em;
  color: $grey;
  span.bold {
    font-weight: bold;
  }
}

p {
  font-size: .75em;
}

.dashboard-title {
  border-bottom: 1px solid #eee;
  padding-bottom: $title-padding;
  margin-top: 40px;
  margin-bottom: 30px;

  h1 {
    display: inline-block;
  }
  button {
    float: right;
    margin-top: 0.938em;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid $lightishGrey;
    color: $lightishGrey;
    font-weight: 400;
    span{
      display: inline;
    }
    a:hover, a:visited, a:link, a:active {
      color: $lightishGrey;
      text-decoration: none;
      border: none;
    }
    a:hover {
      color: $buttonBlue;
    }

  }
}

div.row {
  .column {
    padding: 15px;

    ul {
      line-height: 0.8em;
    }
  }

  div.last-update {
    padding: $padding * .6 0;
    margin: $margin * .6 0;
  }

  border-bottom: 1px solid #eee;
  padding-bottom: $padding;
  margin-bottom: $margin;

  div.green {i {color: $green;}}
  div.orange {i {color: $orange;}}

  h2 {
    padding-bottom: $padding * .4;
    margin-bottom: $margin * .4;
  }

  h3 {
    i {
      padding-right: .5em;
    }
  }

  i {
    padding-right: 0.5em;
  }

  .content-left {
    float: left;
    width: 50%;
  }

  .content-right {
    float: left;
    max-width: 50%;
  }

  .content-title {
    padding-bottom: $title-padding;
    margin-bottom: $title-margin;
  }

  .indicator {
    p {
      padding: 0;
    }
  }

  .report, .indicator {
    padding-bottom: $padding * .6;
    margin-bottom: $margin * .6;
  }

  .report-bar-container {
    border: 1px solid $lightGrey;
    border-radius: 12px;
    .report-bar {
      border-radius: 12px;
      height: .8em;
      padding: .1em 0;
      text-align: left;
      line-height: 0;
      p {
        padding: 0;
        padding-top: 0.5em;
        line-height: 0;
        padding-left: 1.7em;
        color: white;
      }
    }
  }

  section {
    padding-top: .3em;
    margin-top: 1.1em;
    .section-title {
      padding-bottom: 0;
    }
    .bookmarked {
      i {
        color: $buttonBlue;
      }
    }
  }

  .clear {
    clear: both;
  }

  .reports {
    p {
      padding: .2em 2em .2em .2em;
      margin: .4em 2em .4em .4em;
    }
  }
}

div.row:first-child {
  .column {
    padding-right: $padding-right;
  }
  ul {
    padding: 0 0 .2em 1em;
    li {
      color: $grey;
      padding: .3em 0;
    }
  }
}

div.row.row-2 {
  h3 {
    font-weight: bold;
  }
}

.reports {
  .report-bookmark {
    display: inline-block;
  }

  .report-bookmark,
  .icon-bookmark {
    &:hover {
      color: $buttonBlue;
      cursor: pointer;
    }
  }
}

.reports .icon-bookmark {
  &.selected {
    color: $buttonBlue;
  }
}

.reports-container,
.indicators-container {
  .report-content {
    padding-left: 0;
    margin-top: 30px;

    .section-title h3 {
      a {
        border-bottom: 0;
      }

      a,
      a:hover {
        color: rgba(0,0,0,0.8)
      }

      a:hover {
        border-bottom: 1px solid rgba(0,0,0,0.8);
      }
    }
  }

  .report-sidebar {
    padding-right: 0;
    width: 290px;

    .filters {
      border: 1px solid #0A5789;

      h3 {
        color: #00558b;
        font-weight: bold;
      }

      ul {
        border-top: 1px solid #0A5789;
        list-style-type: none;
        padding: 0;
        border-bottom: 10px solid #00558b;

        &:last-of-type {
          border-bottom: none;
        }

        li {
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: #0068a6;
          color: white;
          font-weight: bold;
          border-bottom: 1px solid #00558b;
          font-size: 0.8em;

          &:hover {
            cursor: pointer;
            background-color: #043857;
            border-bottom: 1px solid #0A558B;
          }

          i {
            margin-right: 15px;
          }
        }
      }

      h3 {
        margin: 10px;
      }
    }
  }
}

.section-title {
  h4 a, h3 a, .report-link a {
    text-decoration: none;
    border: none;
  }
  h4 a, .report-link a {
    color: $grey;
  }
  h3 a {
    color: rgba(0,0,0,0.8);
  }
  .report-link {
    a:hover {
      color: $linkBlue;
      border-bottom: 1px solid $linkBlue;
    }
    a {
      font-weight: bold;
    }
  }
}

  
