@import "variables";

section.introduction {
  padding-top: 0;
}

.content {
  &.indicator {
    padding-top: 40px;
    header {
      overflow:hidden;
      h1{
        padding-top: 15px;
        padding-bottom: 25px;
      }
      .indicator-buttons{
        float:right;
        width: 300px;
        a {
          position: relative;
          float: right;
          margin-bottom: 5px;
        }
      }
      .parameter {
        width: 650px;
        p {
          color: $lightishGrey;
          font-size: 0.8em;
          line-height: 35px;
          span.separator {
            padding: 0 5px;
          }
        }
        .score {
          margin-right: 15px;
          border: 1px solid #0a519c;
          display: inline-block;
          float: left;
          height: 35px;
          vertical-align: middle;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          span {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
            padding: 0 10px;
            &.number {
              font-size: 1.2em;
              font-weight: bold;
              color: #0a519c;
            }
            &.keyword {
              background-color: #0a519c;
              color: rgba(255,255,255, 0.85);
              font-size: 0.85em;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .indicator-narratives {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type: none;
      padding: 15px 0;
    }

    header {
      border: 0;
    }

    small {
      top: -21px;
      font-size: 11px;
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
      padding: 0;
    }

    h4{
      color: $grey;
      font-size: 14px;
    }

    p {
      padding-bottom: 15px;
    }
  }
}

@import "indicator_selector";
@import "visualisation";
