@import "variables";

section.introduction {
  padding-top: 0;
}

.content {
  &.indicator {
    header {
      overflow:hidden;

      h1 {
        width: 650px;
        float:left;
      }

      .indicator-buttons{
        float:right;
        width: 300px;
        a {
          position: relative;
          float: right;
          margin-bottom: 5px;
        }
      }
    }
  }

  .indicator-narratives {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type: none;
      padding: 15px 0;
    }

    header {
      border: 0;
    }

    small {
      top: -21px;
      font-size: 11px;
    }

    h2 {
      font-size: 22px;
      font-weight: bold;
      padding: 0;
    }

    h4{
      color: $grey;
      font-size: 14px;
    }

    p {
      padding-bottom: 15px;
    }
  }
}

@import "visualisation";
