@import "reset";
@import "font-awesome";
@import "mixins";
@import "variables";

//COMMON STYLES FOR ALL PAGES

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open sans';
  font-size: 1.15em;
  line-height: 1.6em;
  color: $mainFont;
  color: rgba(0,0,0,0.8);

  &.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: $mainFont;
  color: rgba(0,0,0,0.8);
}

i {
  font-style: italic;

  &.append {
    padding-right: 10px;
  }

  &.post-append {
    padding-left: 10px;
  }
}

.clear {
  @include clearfix;
}

small {
  font-size: 0.8em;
  color: $grey;
}

.content-text-field {
  border: none;
  overflow: hidden;
  padding: 0;
  outline: none;
  width: 100%;
  padding-bottom: 10px;
  resize: none;
  cursor: pointer;
}

.content-text-field.editing {
  white-space: nowrap;
  cursor: auto;
}

.section-actions {
  color: $lightishGrey;

  &:hover {
    color: darken($lightishGrey, 10);
    cursor: pointer;
  }
}

.text-editing-view {
  position: fixed;
  z-index: 10;
  background-color: white;
}

button,
a.button,
div.select {
  -webkit-appearance: none;
  border: none;
  background-color: $buttonBlue;
  color: #fff;
  font-size: 0.85em;
  font-weight: 300;
  font-family: 'Open sans';
  padding: 15px 40px;
  border-radius: 4px;
  cursor: pointer;
  @include transition(background-color 0.5s);

  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid $lightishGrey;
  color: $lightishGrey;
  font-weight: 400;

  span{
    display: none;

    &.show{
      display: inline;
    }
  }

  i{
    &.icon-bookmark{
      display: none;
    }
  }

  &:hover{
    background-color: transparent;
    border-color: $buttonBlue;
    color: $buttonBlue;
  }

  &:active,&.active{
    background-color: $buttonBlue;
    border-color: $buttonBlue;
    color: white;

    i{
      &.icon-bookmark-empty{
        display: none;
      }
      &.icon-bookmark{
        display: inline;
      }
    }
  }

  .pull-right {
    float: right;
  }
}

::selection{
  background: #b6daee;
}

::-moz-selection{
  background: #b6daee;
}

header, section, footer{
  display: block;
}

header {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;

  button, .button {
    position: absolute;
    right: 0;
    top: 13px;
  }

  .button {
    line-height: 23px;
  }
}

h1 {
  font-size: 2.7em;
  font-family: 'PT sans', sans-serif;
  line-height: 1.2em;
  padding-bottom: 15px;
}

h2 {
  font-size: 1.75em;
  font-family: 'Open sans', sans-serif;
  font-weight: 200;
  line-height: 1.2em;
  padding-bottom: 5px;
  span{
    font-size: 1.9em;
    font-family: 'Open sans', sans-serif;
    position: relative;
    top: 6px;
    padding-left: 5px;
  }
}

h3 {
  font-size: 1.1em;
  line-height: 1.5em;
  color: $grey;
}

h4 {
  color: #808080;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5 {
  i[class*='icon-'] {
    font-style: normal;
    font-size: 1.3em;
    color: $iconColor;
  }
}

.content {
  width: 980px;
  padding: 30px 0;
  margin: 0 auto;
  outline: 0;
  word-wrap: break-word;

  a {
    color: $linkBlue;
    text-decoration: none;
    &:hover{
      color: lighten($linkBlue, 10);
      text-decoration: none;
    }
  }

  ul {
    list-style: disc;
    padding: 0 0 30px 40px;

    li {
      padding: 15px;
    }
  }
}

.double-column{
  .column{
    @include box-sizing(border-box);
    width: 50%;
    float: left;

    &.left{
      padding: 20px 30px 0 0;
    }

    &.right{
      padding: 20px 0 0 30px;
    }
  }
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 3px #888888;

  /* Split background in to two halves */
  background-image: url('/images/header-bg.png');
  background-size: 50%;
  background-repeat: repeat-y;
  height: 79px;

  .inner {
    margin: 0 auto;
    width: 980px;
  }

  h1 {
    font-family: "PT Sans";
    font-size: 1.2em;
    color: white;
    float: left;
    margin-top: 15px;
    padding-bottom: 0;

    small {
      font-weight: bold;
      display: block;
      color: white;
    }
  }

  ul.right {
    float: right;
    background: white;
    width: 700px;
    height: 79px;
    /* Skew to achieve slanted blue section */
    @include skew(-25deg, 0);

    /* Unskew children */
    * {
      @include skew(25deg, 0);
    }

    li, a {
      color: rgba(0,0,0,0.6);
    }

    li {
      font-size: 0.85em;
      float: right;
      padding: 0 20px;
      border-left: 1px solid #EEEEEE;
      line-height: 79px;
      font-weight: 600;

      &:hover {
        background-color: #008bdc;
        cursor: pointer;

        &, a {
          color: white;
        }
      }

      &:first-child {
        border-right: 1px solid #EEEEEE;
      }
    }
  }

  .save-status {
    overflow: hidden;
    color: #BBB;
    background-color: #fff;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    position: relative;
    z-index: 3;
    @include clearfix;
    @include transition(width 0.5s);

    input[type="text"] {
      float: left;
      width: 540px;
      font-size: 1.2em;
      border: none;
      padding: 0 15px;
      color: $mainFont;
      color: rgba(0,0,0,0.8);
    }

    i{
      display: inline-block;
      font-size: 1.4em;
      position: relative;
      top: 2px;
    }
  }

  .save-status-container {
    float: left;
  }

  .save-status {
    color: $white;
    width: 0px;
    text-align: center;
    @include transition(background-color 0.3s);

    &.empty {
      display: none;
      background-color: $white;
      border-bottom: 1px solid $white;
    }
    &.saving {
      display: none;
      background-color: $savingBlue;
      border-bottom: 1px solid $savingBlue;
    }
    &.saved {
      display: none;
      background-color: $green;
      border-bottom: 1px solid $green;
    }
    &.error {
      display: none;
      background-color: $black;
      border-bottom: 1px solid $black;
    }
  }
}

.breadcrumbs {
  border-bottom: 1px solid #eee;

  .inner {
    margin: 79px auto 0 auto;
    padding: 0 0 15px 0;
    width: 980px;
  }

  li, a {
    color: #0088ff;
  }

  ul li {
    display: inline;
    font-size: 20px;
    font-weight: lighter;

    &:before {
      position: relative;
      top: 8px;
      padding: 0 10px;
      content: "\203a";
      font-size: 60px;
    }

    &:first-child {
      margin-left: -22px;

      &:before {
        content: "";
      }
    }
  }
}

section{
  padding: 15px 0;
  position: relative;
  margin-top: 20px;

  small.updated-at{
    display: none;
    color: $lightishGrey;
    position: absolute;
    left: 0;
    top: -10px;

    i{
      color: $buttonBlue;
      font-size: 1.3em;
    }
  }

  .view{
    display: none;
  }

  &:hover {
    small{
      display: block;
    }

    .view{
      display: inline-block;
    }
  }

  img{
    padding-bottom: 30px;
  }
}

.save-content {
  &:hover {
    cursor: pointer;
  }
}

.last-update {
  display: inline-block;

  p {
    color: $linkBlue;
    border: 1px solid $linkBlue;
    border-radius: 6px;
    padding: 0.15em 0.4em;
    line-height: 1.6em;
  }

  i {
    padding-right: 0.2em;
  }
}

section.report-indicator-list {
  border-bottom: 1px solid #eee;
  padding-top: .3em;
  margin-top: 1.1em;

  h3 {
    font-weight: bold;
  }

  p {
    padding: .2em 2em .2em 0;
    margin: .4em 2em .4em 0;
    line-height: 1.5em;
  }

  .section-title {
    padding-bottom: 0;
  }

  .bookmarked {
    i {
      color: $buttonBlue;
    }
  }
}

.content-sidebar, .main-content {
  float: left;
}

.main-content {
  padding: 30px 20px 0 0;
  width: 650px;
}

.content-sidebar {
  width: 250px;
  padding: 30px 20px 0 20px;
}


aside {
  color: $lightishGrey;
  font-size: 13px;

  h3 {
    padding-bottom: 5px;
    margin: 15px 0 5px 0;
    border-bottom: 1px solid $differentGrey;
    font-weight: bold;
    font-size: 16px;
    color: $mediumGrey;
    &:first-child {
      margin-top: 0;
    }
    button {
      float: right;
    }
  }

  p {
    font-size: 12px;
  }
  button, h3 button {
    font-size: 12px;
    line-height: 25px;
    color: $linkBlue;
    border: none;
    padding: 0;
    text-decoration: underline;
    &:hover {
      color: $linkBlueHover;
      @include transition(0.5s);
    }
    &:active {
      background: none;
      color: $linkBlueHover;
    }
  }

  .dialog {
    background: $bkgGrey;
    padding: 15px;
    display: none;
    height: 95px;

    h4 {
      font-weight: normal;
      font-size: 14px;
      margin-bottom: 10px;
      padding: 0;
      line-height: 12px;
    }
    i.close {
      float: right;
      color: $mediumGrey;
      font-size: 14px;
      line-height: 12px;
      &:hover {
        color: $buttonBlue;
        @include transition(0.5s);
      }
    }
    input {
      border: 1px solid $lightGrey;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 4px 0 4px 7px;
      width: 96%;
      color: $mediumGrey;
    }

    button {
      background: $green;
      text-align: center;
      width: 99%;
      color: $white;
      text-decoration: none;
      font-size: 14px;
      margin-top: 10px;
      padding: 4px;
      &:hover {
        background: $greenHover;
      }
    }
    ul.search-results {
      display: none;
      width: 219px;
      border: 1px solid #eee;
      box-shadow: 4px 1px 5px rgba(0, 0, 0, 0.025);
      position: absolute;
      background: $white;
      overflow: scroll;
      max-height: 100px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-top: -1px;
      li {
        padding-left: 7px;
        line-height: 24px;
        color: $mediumGrey;
        &:hover {
          color: #008ED6;
          cursor: pointer;
        }
      }
    }

  }
}

.content-sidebar {


  section {

    h3 {
      border-bottom: 1px solid $differentGrey;
    }
  }

  h4 {
    color: $mediumGrey;
    font-weight:bold;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 0;
      border-top: 1px solid $lightGrey;

      .outdated {
        font-weight: bold;
        color: $orange;

        .outdated-notice {
          font-weight: normal;
          border: 1px solid;
          border-radius: 3px;
          font-size: 10px;
          padding: 1px 4px;
          position: relative;
          top: -1px;
          left: 5px;
        }
      }
    }
    li:first-child {
      border-top: 0;
    }
  }
}

.styled-select {
  background: url(/images/chevron.png) no-repeat right #fff;
  background-size: 20px 10px;
  border: 1px solid $lightishGrey;
  overflow: hidden;
  border-radius: 3px;

  &:hover {
    background-image: url(/images/chevron_blue.png);
    cursor: pointer;
    border-color: $buttonBlue;

    select {
      color: $buttonBlue;
    }
  }

  select {
    &:hover {
      cursor: pointer;
      border-color: $buttonBlue;
      color: $buttonBlue;
    }

    color: $lightishGrey;
    padding: 0px 21px 0px 5px;
    background: transparent;
    border: none;
  }
}

table {
  border: 1px solid #e1e1e1;
  border-top: none;
  width: 650px;

  caption{
    background-color: #007dbb;
    text-align: center;
    padding: 12px 10px;
    color: #fff;
    font-weight: 300;
    border: 1px solid #0068A6;
    border-bottom: none;
  }

  thead{
    background-color: #0068A6;
    color: #fff;
  }

  th{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.2em;
    border: 1px solid #00558B;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #f7f7f7;
    }
  }

  tr td{
    font-size: 0.85em;
    line-height: 1.4em;
    padding: 10px;
    border: 1px solid #e1e1e1;

    &.center{
      text-align: center;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 10;

  header {
    height: 43px;
  }

  .editor {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F7F7F7;
    width: 900px;
    height: 576px;
    margin-top: -278px;
    margin-left: -453px;
    z-index: 1001;

    .close {
      float:right;
      margin-top: -30px;
      margin-right: 5px;
      cursor: pointer;
    }

    header {
      padding: 25px;
      border: 0;
      margin-bottom: 0;
    }
  }
}

footer{
  margin-top: 40px;
  background-color: $bkgGrey;
  width: 100%;
  min-width: 980px;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  .inner{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    h3{
      color: $mainFont;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
  img{
    margin: 0 25px;
  }
}

.medium-editor-placeholder { position: fixed !important; }

@import "charts";
