/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "tooltip";
@import "font-awesome";

//COLORS
$green: #5aa565;
$buttonBlue: #007dbb;
$linkBlue: #008fd6;
$lightGrey: #eee;
$grey: #949494;
$iconColor: #444;
$mainFont: #333;

body, html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open sans';
    font-size: 1.15em;
    line-height: 1.7em;
    color: $mainFont;
    color: rgba(0,0,0,0.8);
}

a{
    color: $linkBlue;
    text-decoration: none;
    border-bottom: 1px solid $linkBlue;
    &:hover{
        color: lighten($linkBlue, 10);
        text-decoration: none;
        border-bottom: 1px solid lighten($linkBlue, 15);
    }
}

i.append{
    padding-right: 10px;
}

.clear{
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

small{
    font-size: 0.75em;
    color: $grey;
}

button{
    -webkit-appearance: none;
    border: none;
    background-color: $buttonBlue;
    color: #fff;
    font-size: 0.85em;
    font-weight: 300;
    font-family: 'Open sans';
    padding: 15px 40px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    &.grey{
        padding: 5px 15px;
        background-color: transparent;
        border: 1px solid #c3c3c3;
        color: #c3c3c3;
        font-weight: 400;
        i{
            &.icon-bookmark{
                display: none;
            }
        }
        &:hover{
            background-color: transparent;
            border-color: $buttonBlue;
            color: $buttonBlue;
        }
        &:active{
            background-color: $buttonBlue;
            border-color: $buttonBlue;
            color: white;
            i{
                &.icon-bookmark-empty{
                    display: none;
                }
                &.icon-bookmark{
                    display: inline;
                }
            }
        }
    }
    &:hover{
        background-color: $linkBlue;
    }
    &:active{
        background-color: #00679b;
        color: #eee;
    }
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}

*.unselectable * {
   -moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -o-user-select: text;
   user-select: text;
}

::selection{
    background: #b6daee;
}

::-moz-selection{
    background: #b6daee;
}

header, section, footer{
    display: block;
}

header{
    width: 100%;
    height: 420px;
    position: relative;
    background-image: url('../img/bkg.jpg');
    background-size: cover;
    background-position: center center;
}

.caption{
    font-size: 0.85em;
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.65);
    padding: 0 60px 0 20px;
    font-weight: 300;
    border-top-left-radius: 4px;
    color: #fff;
}

h1{
    font-size: 2.7em;
    font-family: 'PT sans', sans-serif;
    line-height: 1.2em;
    padding-bottom: 15px;
}

h2{
    font-size: 1.75em;
    font-family: 'PT sans', sans-serif;
    line-height: 1.2em;
    padding-bottom: 5px;
}

h3{
    font-size: 1.1em;
    line-height: 1.4em;
    color: $grey;
}

ul{
    list-style: disc;
    padding: 0 0 30px 40px;
    li{
        padding: 15px;
    }
}

p{
    padding-bottom: 30px;
    font-weight: 400;
}

strong{
    font-weight: 600;
}

.content{
    width: 1040px;
    padding: 30px 20px;
    margin: 0 auto;
    outline: 0;
    word-wrap: break-word;
}

.report-content{
    width: 700px;
    padding: 0 20px;
}

.report-sidebar{
    width: 260px;
    padding: 45px 20px 0 20px;
}

.report-content, .report-sidebar{
    float: left;
}

.report-title{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.report-extra{
    font-size: 0.85em;
    color: $grey;
    a{
        color: $grey;
        border-bottom: none;
    }
    i{
        color: $iconColor;
        font-size: 1.15em;
    }
}

.time-period{
    color: $grey;
    padding-bottom: 5px;
}

section{
    margin: 30px 0;
    position: relative;
    small{
        display: none;
        color: #c3c3c3;
        position: absolute;
        left: 0;
        top: -35px;
        i{
            color: $buttonBlue;
            font-size: 1.3em;
        }
    }
    &:hover{
        small{
            display: block;
        }
    }
    img{
        padding-bottom: 30px;
    }
}

.section-title{
    padding-bottom: 30px;
}

.report-sidebar button{
    display: block;
    margin: 0;
}

.recent-changes{
    margin-top: 88px;
    font-size: 0.75em;
    line-height: 1.4em;
    color: $grey;
    vertical-align: middle;
    i{
        color: $iconColor;
        font-size: 1.3em;
        vertical-align: middle;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            padding: 0 0 8px 0;
        }
    }
}

.recent-changes-title{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightGrey;
}

@import "charts";