@import "reset";
@import "font-awesome";
@import "mixins";
@import "variables";

//COMMON STYLES FOR ALL PAGES

body, html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Open sans';
    font-size: 1.15em;
    line-height: 1.6em;
    color: $mainFont;
    color: rgba(0,0,0,0.8);
}

a{
    text-decoration: none;
    color: $mainFont;
    color: rgba(0,0,0,0.8);
}

i.append{
    padding-right: 10px;
}

i.post-append{
    padding-left: 10px;
}

.clear{
    @include clearfix;
}

small{
    font-size: 0.75em;
    color: $grey;
}

textarea.content-text-field {
  border: 0 none white;
  overflow: hidden;
  padding: 0;
  outline: none;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
  resize: none;
}

button{
    -webkit-appearance: none;
    border: none;
    background-color: $buttonBlue;
    color: #fff;
    font-size: 0.85em;
    font-weight: 300;
    font-family: 'Open sans';
    padding: 15px 40px;
    border-radius: 4px;
    cursor: pointer;
    @include transition(background-color 0.5s);
    &.grey{
        padding: 5px 15px;
        background-color: transparent;
        border: 1px solid $lightishGrey;
        color: $lightishGrey;
        font-weight: 400;
        span{
            display: none;
            &.show{
                display: inline;
            }
        }
        i{
            &.icon-bookmark{
                display: none;
            }
        }
        &:hover{
            background-color: transparent;
            border-color: $buttonBlue;
            color: $buttonBlue;
        }
        &:active, &.active{
            background-color: $buttonBlue;
            border-color: $buttonBlue;
            color: white;
            i{
                &.icon-bookmark-empty{
                    display: none;
                }
                &.icon-bookmark{
                    display: inline;
                }
            }
        }
    }
    &:hover{
        background-color: $linkBlue;
    }
    &:active, &.active{
        background-color: #00679b;
        color: #eee;
    }
}

::selection{
    background: #b6daee;
}

::-moz-selection{
    background: #b6daee;
}

.arabic{
    text-align: right;
}

header, section, footer{
    display: block;
}

h1{
    font-size: 2.7em;
    font-family: 'PT sans', sans-serif;
    line-height: 1.2em;
    padding-bottom: 15px;
}

h2{
    font-size: 1.75em;
    font-family: 'PT sans', sans-serif;
    line-height: 1.2em;
    padding-bottom: 5px;
}

h3{
    font-size: 1.1em;
    line-height: 1.5em;
    color: $grey;
}

h4{
    font-size: 1.1em;
}

p{
    padding-bottom: 30px;
    font-weight: 400;
}

strong{
    font-weight: 600;
}

.content{
    width: 980px;
    padding: 30px 20px;
    margin: 0 auto;
    outline: 0;
    word-wrap: break-word;
    a{
        color: $linkBlue;
        text-decoration: none;
        border-bottom: 1px solid $linkBlue;
        &:hover{
            color: lighten($linkBlue, 10);
            text-decoration: none;
            border-bottom: 1px solid lighten($linkBlue, 15);
        }
    }
    ul{
        list-style: disc;
        padding: 0 0 30px 40px;
        li{
            padding: 15px;
        }
    }
}

.arabic{
    .double-column{
        .column{
            float: right;
            &.left{
                padding: 20px 0 0 30px;
            }
            &.right{
                padding: 20px 30px 0 0;
            }
        }
    }
}

.double-column{
    .column{
        @include box-sizing(border-box);
        width: 50%;
        float: left;
        &.left{
            padding: 20px 30px 0 0;
        }
        &.right{
            padding: 20px 0 0 30px;
        }
    }
}

.arabic .menu{
    right: 0;
    left: auto;
    .main-menu-container, .search{
        float: right;
    }
}

.menu{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    .main-menu-container, .search{
        float: left;
    }
    .main-menu, .search-header{
        width: 60px;
        height: 60px;
        line-height: 60px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    }
    .main-menu-container{
        position: relative;
    }
    .main-menu{
        overflow: hidden;
        font-family: "PT Sans";
        text-align: center;
        background-color: #008BDC;
        color: $white;
        font-size: 1.3em;
        border-bottom: 1px solid #0073BB;
        position: relative;
        cursor: pointer;
        overflow-x: hidden;
        @include transition(width 0.5s);
        .full-name{
            display: inline-block;
            font-size: 0.75em;
            padding: 0 20px;
            display: none;
            overflow: hidden;
            min-width: 180px;
            vertical-align: middle;
            .name{
                max-width: 140px;
                display: inline-block;
                vertical-align: middle;
                @include text-overflow;
            }
            i{
                font-size: 0.85em;
                line-height: 60px;
                vertical-align: middle;
            }
        }
        .initials{
            font-size: 1.4em;
            position: relative;
            top: 2px;
        }
        &:hover, &.opened{
            @include transition(width 0.5s);
            width: 220px;
            .full-name{
                display: inline-block;
            }
            .initials{
                display: none;
            }
        }
    }
    ul{
        text-align: left;
        width: 100%;
        min-width: 200px;
        display: none;
        list-style: none;
        position: absolute;
        left: 0;
        top: 61px;
        li{
            a{
                color: $white;
                display: inline-block;
                padding: 0 20px;
                line-height: 60px;
                width: 100%;
                @include box-sizing(border-box);
                .icon{
                    display: inline-block;
                    width: 24px;
                    text-align: center;
                    padding-right: 15px;
                }
            }
            background-color: #333;
            border-bottom: 1px solid #222222;
            &:hover{
                background-color: #111;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .search-container{
        width: 700px;
        height: 60px;
        overflow: hidden;
    }
    .search-box{
        display: none;
    }
    .search-header{
        overflow: hidden;
        color: #BBB;
        background-color: #fff;
        border-bottom: 1px solid #DDD;
        border-right: 1px solid #DDD;
        @include transition(width 0.5s);
        .search-icon, input[type="text"], .close-search{
            float: left;
        }
        .search-icon{
            width: 60px;
            height: 60px;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
        }
        input[type="text"]{
            width: 550px;
            font-size: 1.2em;
            border: none;
            border-left: 1px solid #BBB;
            padding: 0 20px;
            position: relative;
            top: 15px;
            color: rgba(0,0,0,0.25);
            &:focus, &.filled{
                color: $mainFont;
                color: rgba(0,0,0,0.8);
            }
        }
        .close-search{
            color: #DDD;
            cursor: pointer;
            &:hover{
                color: $mainFont;
            }
        }
        &.opened{
            @include transition(width 0.5s);
            width: 700px;
        }
        i{
            display: inline-block;
            font-size: 1.4em;
            position: relative;
            top: 2px;
        }
    }
}

.arabic section{
    small{
        right: 0;
    }
}

section{
    padding: 15px 0;
    position: relative;
    small{
        display: none;
        color: $lightishGrey;
        position: absolute;
        left: 0;
        top: -18px;
        i{
            color: $buttonBlue;
            font-size: 1.3em;
        }
    }
    .view{
        display: none;
    }
    &:hover{
        small{
            display: block;
        }
        .view{
            display: inline-block;
        }
    }
    img{
        padding-bottom: 30px;
    }
}

.section-title{
  padding-bottom: 20px;
}

.tag{
    display: inline-block;
    line-height: 1em;
    font-size: 0.55em;
    padding: 2px 5px 4px 5px;
    border-radius: 3px;
    vertical-align: middle;
    background-color: $buttonBlue;
    border: 1px solid $buttonBlue;
    color: $white;
}

@import "charts";
