//COMMON CONTENT

@import "mixins";
@import "variables";
@import "section-navigation";

//REPORT STYLES

header.report-header {
    width: 100%;
    height: 420px;
    position: relative;
    background-image: url('/images/bkg.jpg');
    background-size: cover;
    background-position: center center;
}

.arabic .caption{
    left: 0;
    right: auto;
    padding: 0 20px 0 60px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}

.caption{
    font-size: 0.85em;
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.65);
    padding: 0 60px 0 20px;
    font-weight: 300;
    border-top-left-radius: 4px;
    color: #fff;
}

.report-content{
    width: 650px;
    padding: 0 20px;
    *{
        max-width: 650px;
    }
}

.section-actions {
  margin-bottom: 100px;

  .add-visualisation,
  .add-title,
  .add-narrative,
  .choose-indicator {
    color: $lightishGrey;

    &:hover {
      color: darken($lightishGrey, 10);
      cursor: pointer;
    }
  }

  .choose-indicator ,
  .add-visualisation {
    border: 1px solid lighten($lightishGrey, 10);
    padding: 2px 5px;
    border-radius: 3px;

    &:hover {
      border-color: $lightishGrey;
    }

    i {
      margin-right: 3px;
    }
  }
}

.report-sidebar{
  width: 250px;
  padding: 45px 20px 0 20px;
  button{
    display: block;
    margin: 0;
  }
  a.present-report {
    margin-left: 13px;
    padding-top: 9px;
    font-size: 14px;
    color: grey;
    border-bottom: 0;
  }
}

.arabic .report-sidebar{
    button{
        float: right;
    }
}

.arabic{
    .report-content, .report-sidebar{
        float: right;
    }
}

.report-content, .report-sidebar{
    float: left;
}

.report-title{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 10px;

  .time-period {
    input {
      color: #808080;
    }
  }
}

.section-title,
.time-period,
.report-title h1 {
  input {
    border: 0;
  }

  a {
    font-size: 0.3em;
  }
}

.section-title {
  a.index {
    font-size: 1.1em;
    font-weight: bold;
  }

  h3 a {
    font-size: 20px;
  }
}

.fixed-section {
  textarea {
    border: 0;
    width: 100%;
  }
}


.report-extra{
    font-size: 0.85em;
    color: $grey;
    .last-update, .who{
        position: relative;
        display: inline-block;
        &:hover{
            span{
                @include opacity(100);
                -webkit-animation: show 0.3s linear;
                animation: show 0.3s linear;
            }
        }
        span{
            @include opacity(0);
            display: inline-block;
            text-align: center;
            width: 80px;
            position: absolute;
            top: -22px;
            left: -32px;
            font-size: 0.7em;
            line-height: 1em;
            padding: 6px 0 7px 0;
            background-color: rgba(0,0,0,0.8);
            color: $white;
            border-radius: 3px;
            &:after{
                position: absolute;
                top: 100%;
                left: 36px;
                content: '';
                width: 0;
                height: 0;
                border-top: solid 4px rgba(0,0,0,0.8);
                border-left: solid 4px transparent;
                border-right: solid 4px transparent;
            }
        }
    }
    a{
        color: $grey;
        border-bottom: none;
    }
    i{
        color: $iconColor;
        font-size: 1.15em;
    }
}

.time-period{
    color: $grey;
    padding-bottom: 5px;
}

.recent-changes{
    margin-top: 81px;
    font-size: 0.75em;
    line-height: 1.4em;
    color: $grey;
    vertical-align: middle;
    i{
        color: $iconColor;
        font-size: 1.3em;
        vertical-align: middle;
    }
    ul{
        padding: 0;
        li{
            list-style: none;
            padding: 0 0 8px 0;
        }
    }
}

.recent-changes-title{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightGrey;
}

.brief {
  margin-top: 20px;
  font-size: 0.75em;
  line-height: 1.4em;
  color: $grey;
  vertical-align: middle;

  h4 {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightGrey;
  }
}

.related-reports{
    background-color: $bkgGrey;
    border-top: 1px solid $lightGrey;
    padding: 60px 20px;
    .double-column{
        margin: 0 auto;
        width: 980px;
        padding: 0 20px;
        @include box-sizing(border-box);
    }
    .related-report{
        padding-bottom: 20px;
        &:last-child{
            padding-bottom: 0;
        }
    }
    h4{
        padding-bottom: 5px;
        vertical-align: middle;
        a{
            color: $mainFont;
            border-bottom: none;
            &:hover{
                span{
                    @include opacity(100);
                }
            }
        }
        span{
            @include opacity(0);
            margin-left: 5px;
            @include transition(all 0.5s);
        }
    }
    p{
        font-size: 0.75em;
        line-height: 1.6em;
        color: $mediumGrey;
        padding-bottom: 0;
    }
}

.report-edit-visualisation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);

  .editor {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F7F7F7;
    width: 900px;
    height: 576px;
    margin-top: -278px;
    margin-left: -453px;

    .close-vis-edit {
      float:right;
      margin-top: -30px;
      margin-right: 5px;
      cursor: pointer;
    }

    header {
      padding: 25px;
      border: 0;
      margin-bottom: 0;
    }

    .filters,
    .visualisation {
      border: 1px solid $lightishGrey;
      box-sizing: border-box;
      height: 455px;
    }

    aside.filters {
      width: 300px;
      float: right;
      border-left: 0;

      header {
        padding: 10px 20px;
        border-bottom: 1px solid $lightishGrey;
        position: relative;

        h3 {
          color: $mediumGrey;
          font-weight: bold;
        }

        a {
          color: $differentGrey;
          text-decoration: underline;
          font-size: 0.8em;
          position: absolute;
          right: 20px;
          top: 10px;
        }
      }
    }

    .visualisation {
      background-color: white;
      width: 600px;
      float: left;
      position: relative;

      .controls {
        overflow: hidden;
        button {
          float: right;
        }
        .select {
          float: right;
          width: 167px;

        }
      }
      .bar-chart-view {
        padding: 50px 10px;
      }

      .map-visualisation {
        margin-top: 24px;
        height: 400px;
      }
    }
  }
}

@-webkit-keyframes show{
    0%{
        top: -25px;
        opacity: 0;
    }
    100%{
        top: -22px;
        opacity: 1;
    }
}

@keyframes show{
    0%{
        top: -25px;
        @include opacity(0);
    }
    100%{
        top: -22px;
        @include opacity(100);
    }
}