//COMMON CONTENT

@import "mixins";
@import "variables";

header {
  width: 100%;
  height: 420px;
  position: relative;
  background-image: url('/images/bkg.jpg');
  background-size: cover;
  background-position: center center;
}

article {
  width: 900px;
  margin: 75px auto 0 auto;
  overflow: hidden;

  .main-content {
    float: left;
  }

  .main-content,
  aside {
    box-sizing: border-box;
  }

  header {
    height: 100%;
  }

  section {
    padding-bottom: 0;
  }

  aside {
    float: right;
    width: 250px;
    padding: 30px 0 0 20px;
    color: $grey;

    h5 {
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: 1px solid $lightGrey;
      margin-top: 20px;
      font-size: 0.75em;
      line-height: 1.4em;
    }

    a.present-report {
      margin-left: 13px;
      font-size: 14px;
      color: grey;
    }
  }
}

.recent-changes {
  font-size: 0.75em;
  line-height: 1.4em;
  padding: 0;

  li {
    list-style: none;
    padding: 0 0 8px 0;
  }
}

.related-reports {
  background-color: $bkgGrey;
  border-top: 1px solid $lightGrey;
  padding: 60px 20px;

  .double-column {
    margin: 0 auto;
    width: 980px;
    padding: 0 20px;
    @include box-sizing(border-box);
  }

  .related-report {
    padding-bottom: 20px;

    &:last-child{
      padding-bottom: 0;
    }
  }

  h4 {
    padding-bottom: 5px;
    vertical-align: middle;

    a {
      color: $mainFont;
      border-bottom: none;

      &:hover {
        span {
          @include opacity(100);
        }
      }
    }

    span {
      @include opacity(0);
      margin-left: 5px;
      @include transition(all 0.5s);
    }
  }

  p {
    font-size: 0.75em;
    line-height: 1.6em;
    color: $mediumGrey;
    padding-bottom: 0;
  }
}

button.add-report-section {
  margin: 10% 0;
}

.chapter-heading h2 {
  line-height: 45px;
  border-bottom: 1px dotted #DDD;
  margin-top:35px;
}

.section-navigation {
  ol {
    padding-left: 30px;
    font-size: 0.6em;
    line-height: 1.4em;
    list-style: decimal;

    li {
      padding: 0;
      padding-bottom: 10px;
      a {
        color: $grey;
        text-decoration: none;
        border: none;
      }
    }

    li.Chapter {
      font-weight: bold;
    }
  }
}

@import "visualisation";
