//COMMON CONTENT

@import "mixins";
@import "variables";

header {
  width: 100%;
  height: 420px;
  position: relative;
  background-image: url('/images/bkg.jpg');
  background-size: cover;
  background-position: center center;
}

article {
  width: 900px;
  margin: 75px auto 0 auto;
  overflow: hidden;

  .main-content {
    float: left;
  }

  .main-content,
  aside {
    box-sizing: border-box;
  }

  header {
    height: 100%;
  }

  aside {
    float: right;
    width: 250px;
    padding: 30px 0 0 20px;
    color: $grey;

    h5 {
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: 1px solid $lightGrey;
      margin-top: 20px;
      font-size: 0.75em;
      line-height: 1.4em;
    }

    a.present-report {
      margin-left: 13px;
      font-size: 14px;
      color: grey;
    }
  }
}

.section-actions {
  .add-visualisation,
  .add-title,
  &.add-narrative,
  .choose-indicator {
    color: $lightishGrey;

    &:hover {
      color: darken($lightishGrey, 10);
      cursor: pointer;
    }
  }

  .choose-indicator ,
  .add-visualisation {
    border: 1px solid lighten($lightishGrey, 10);
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 3px;

    &:hover {
      border-color: $lightishGrey;
    }

    i {
      margin-right: 3px;
    }
  }
}

.section-title {
  padding-bottom: 0;

  a.index {
    font-size: 1.1em;
    font-weight: bold;
  }

  h2 {
    padding: 2% 0 0 0;
  }

  h3 a {
    font-size: 20px;
  }
}

.section-navigation {
  ol {
    padding-left: 30px;
    font-size: 0.6em;
    line-height: 1.4em;
    list-style: decimal;

    li {
      padding: 0;
      padding-bottom: 10px;
      a {
        color: $grey;
        text-decoration: none;
        border: none;
      }
    }

    li.Chapter {
      font-weight: bold;
    }
  }
}

.recent-changes{
  font-size: 0.75em;
  line-height: 1.4em;
  padding: 0;

  li{
    list-style: none;
    padding: 0 0 8px 0;
  }
}

.related-reports{
    background-color: $bkgGrey;
    border-top: 1px solid $lightGrey;
    padding: 60px 20px;
    .double-column{
        margin: 0 auto;
        width: 980px;
        padding: 0 20px;
        @include box-sizing(border-box);
    }
    .related-report{
        padding-bottom: 20px;
        &:last-child{
            padding-bottom: 0;
        }
    }
    h4{
        padding-bottom: 5px;
        vertical-align: middle;
        a{
            color: $mainFont;
            border-bottom: none;
            &:hover{
                span{
                    @include opacity(100);
                }
            }
        }
        span{
            @include opacity(0);
            margin-left: 5px;
            @include transition(all 0.5s);
        }
    }
    p{
        font-size: 0.75em;
        line-height: 1.6em;
        color: $mediumGrey;
        padding-bottom: 0;
    }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 99;

  .editor {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #F7F7F7;
    width: 900px;
    height: 576px;
    margin-top: -278px;
    margin-left: -453px;
    z-index: 1001;

    .close {
      float:right;
      margin-top: -30px;
      margin-right: 5px;
      cursor: pointer;
    }

    header {
      padding: 25px;
      border: 0;
      margin-bottom: 0;
    }
  }
}

.indicator-selector {
  .indicators {
    height: 480px;
    overflow: scroll;
    border: 1px solid #DDD;
    width: 100%;
    background-color: $white;
    @include box-sizing(border-box);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 2;
    list-style-type: none;
    padding: 0;

    li {
      border-bottom: 1px solid #DDD;
      @include clearfix;
      padding: 0;

      & > div {
        float: left;
      }

      .icon {
        width: 13px;
        padding: 20px 23px;
      }

      .info {
        width: 808px;
        padding: 20px 15px;
        border-left: 1px solid #DDD;

        &:hover {
          background: $linkBlue;
          color: white;
          cursor: pointer;
        }

        p {
          padding-bottom: 0;
          font-size: 0.75em;
          line-height: 1.3em;
        }
      }

      .h4 {
        font-weight: 600;
        font-size: 0.85em;
      }
    }
  }
}

.report-edit-visualisation {
  .filters,
  .visualisation {
    border: 1px solid $lightishGrey;
    box-sizing: border-box;
    height: 455px;
  }

  aside.filters {
    width: 300px;
    float: right;
    border-left: 0;

    .filter-fields {
      padding: 21px;

      li {
        margin-bottom: 20px;

        h4 {
          color: #c3c3c3;
          text-transform: capitalize;
          border-bottom: 1px solid #eee;
          margin-bottom: 12px;
          padding-bottom: 5px;
          font-weight: 600;
        }
      }
    }

    header {
      padding: 12px 20px;
      border-bottom: 1px solid $lightishGrey;
      position: relative;

      h3 {
        color: $mediumGrey;
        font-weight: bold;
      }

      a {
        color: $differentGrey;
        text-decoration: underline;
        font-size: 0.8em;
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }
  }

  .visualisation {
    background-color: white;
    width: 600px;
    float: left;
    position: relative;

    .visualisation-table-view {
      height: 400px;
      overflow: scroll;
      margin: 10px;

      table {
        width: 578px;
      }
    }

    .controls {
      overflow: hidden;
      margin: 10px 10px 0;

      button,
      .select {
        margin-left: 10px;
        float: right;
      }

      .select {
        padding: 2px 15px;

        &:active {
          background: none;
          color: inherit;
          border-color: inherit;
        }

        &:hover {
          select {
            cursor: pointer;
            color: $buttonBlue;
          }

          @include transition(none);
        }
      }

      select {
        color: $lightishGrey;
        border: 0;
      }
    }

    .bar-chart-view {
      padding: 50px 10px;
    }
  }
}

.map-visualisation {
  margin-top: 8px;
  height: 400px;

  /* fix for leaflet controls poking through overlays */
  .leaflet-top {
    z-index: 0;
  }
}

.chapter-heading h2 {
  line-height: 45px;
  border-bottom: 1px dotted #DDD;
  margin-top:35px;
}

button.add-report-section {
  margin: 10% 0;
}

.section-view {
  padding-bottom: 0;

  .download-actions {
    height: 34px;
    margin: 10px 0;

    button {
      float: right;
      margin-right: 10px;

      &:first-of-type {
        margin-right: 0;
      }
    }
  }

  .section-actions {
    padding: 2% 0;
  }
}
