<h4>{{t "permissions/select_a_new_owner"}} <i class="icon-remove close"></i></h4>
<input placeholder="{{t "permissions/enter_a_name_or_an_email"}}">
{{ addSubViewTo thisView 'SearchResultsView' collection=results }}
<button class='choose-user confirm'>{{t "permissions/change_owner"}}</button>
