<div class="editor">
  <span class="close">Close</span>
  <header>
    <h2>Select an indicator</h2>
  </header>
  <div class="indicators">
    <ul>
      {{#each indicators}}
        {{addSubViewTo ../thisView "IndicatorSelectorItemView"
          indicator=this
          section=../section
        }}
      {{/each}}
    </ul>
  </div>
</div>
