<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}<i class="icon-remove-circle"></i></span>

  <aside>
    <div class="origin">
      <h5>Data origin:</h5>

      <div class="select">
        <select>
          <option>All sources</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
    </div>

    {{addSubViewTo thisView "ThemeFiltersView" indicators=searchResults}}
  </aside>

  <div class="main">
    <div class="search">
      <i class="icon-search"></i>
      <input placeholder="Search indicators">
    </div>

    {{addSubViewTo thisView "IndicatorSelectorResultsView" indicators=indicators}}
  </div>
</div>
