<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}</span>
  <header>
    <h2>{{{t "report/indicator/title"}}}</h2>
  </header>
  <ul class="indicators">
    {{#each indicators}}
      {{addSubViewTo ../thisView "IndicatorSelectorItemView"
        indicator=this
        section=../section
      }}
    {{/each}}
  </ul>
</div>
