<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}</span>
  <header>
    <h2>{{{t "report/indicator/title"}}}</h2>
  </header>
  <h3>Primary Indicators</h3>
  <ul class="indicators primary">
    {{#each indicators.primary}}
      {{addSubViewTo ../thisView "IndicatorSelectorItemView"
        indicator=this
        section=../section
      }}
    {{/each}}
  </ul>
  <h3>Secondary Indicators</h3>
  <ul class="indicators secondary">
    {{#each indicators.secondary}}
      {{addSubViewTo ../thisView "IndicatorSelectorItemView"
        indicator=this
        section=../section
      }}
    {{/each}}
  </ul>
</div>
