<div class="icon">
  <i class="icon-file-text-alt"></i>
</div>
<div class="info">
  <h4>{{title}}</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac porttitor neque, quis molestie nulla. Donec a nisi nec orci gravida luctus.</p>
</div>
