<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}<i class="icon-remove-circle"></i></span>

  <aside>
    <div>
      <h5>Data origin:</h5>
      <select>
        <option>NRT Core Indicators</option>
      </select>
    </div>

    {{addSubViewTo thisView "ThemeFiltersView" indicators=indicators}}
  </aside>

  <input value="Search indicators">
  {{addSubViewTo thisView "IndicatorSelectorResultsView" indicators=indicators}}
</div>
