<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}<i class="icon-remove-circle"></i></span>

  <aside>
    {{addSubViewTo thisView "DataOriginSelectorView"}}

    {{addSubViewTo thisView "ThemeFiltersView" indicators=textFilteredIndicators}}
  </aside>

  <div class="main">
    <div class="search">
      <i class="icon-search"></i>
      <input placeholder="Search indicators">
      <i class="clear-search icon-remove-sign"></i>
    </div>

    {{addSubViewTo thisView "IndicatorSelectorResultsView" indicators=indicators}}
  </div>
</div>
