<div class="editor">
  <span class="close">{{{t "report/modal/close"}}}<i class="icon-remove-circle"></i></span>

  <aside>
    <div class="origin">
      <h5>Data origin:</h5>
      <select>
        <option>NRT Core Indicators</option>
      </select>
    </div>

    {{addSubViewTo thisView "ThemeFiltersView" themes=themes}}
  </aside>

  <div class="main">
    <div class="search">
      <i class="icon-search"></i>
      <input placeholder="Search indicators">
    </div>

    {{addSubViewTo thisView "IndicatorSelectorResultsView" indicators=indicators}}
  </div>
</div>
