{{#each sections}}
  {{addSubViewTo ../thisView "SectionView" section=this}}
{{/each}}

{{#if isEditable}}
  <div class="add-section">
    <button>
      <i class="icon-plus append"></i>
    </button>
  </div>
{{/if}}
