{{#if introduction}}
  <p class='content-text'>{{introduction}}</p>
{{else}}
  <div class="section-actions">
    <span class="add-introduction">
      Type introduction here
    </span>
  </div>
{{/if}}
