<h3>
  Indicator owned by
</h3>
{{#if owner}}
  <div class="owner-block">
    <div class="owner-name">{{owner.name}}</div>
    <button class="change-owner">Change</button>
  </div>
{{else}}
  <button class="change-owner">Choose owner</button>
{{/if}}
