<h3>
  Owned by
</h3>
{{#if owner}}
  <div class="owner-block">
    <div class="owner-name">{{owner.name}}</div>
    {{#if isEditable}}
      <button class="change-owner">Change</button>
    {{/if}}
  </div>
{{else}}
  {{#if isEditable}}
    <button class="change-owner">Choose owner</button>
  {{/if}}
{{/if}}
