<h3>
  Indicator owned by
  {{#if owner}}
    <button class="change-owner">Change</button>
  {{/if}}
</h3>
{{#if owner}}
  {{owner.name}}
{{else}}
  <button class="change-owner">Choose owner</button>
{{/if}}
