<section class="reports">
  <div class="section-title">
    <small>
      <i class="icon-time append"></i>Last updated on 1st of April, 18:23 by Dr. Anybody
    </small>
    <h3>{{report.title}}</h3>
    <h4>2012 |
      <div class="report-bookmark">
        <i class="icon-bookmark"></i> <span>Bookmark this report</span>
      </div>
    </h4>
    {{report.introduction}}
  </div>
</section>
