<div class="editor">
  <span class="close-vis-edit">Close</span>
  <header>
    <h2>{{indicator.title}}</h2>
  </header>
  <div class="visualisation">
    {{addSubViewTo thisView "BarChartView" width=600 visualisation=visualisation}}
  </div>
</div>
