<div class='save-status empty'>
</div>
<div class='save-status saving'>
    <i class='icon-spinner'></i>
    Saving...
</div>
<div class='save-status saved'>
    <i class='icon-ok'></i>
    Saved
</div>
<div class='save-status error'>
    <i class='icon-warning-sign'></i>
    Error
</div>
