<div class="heading">
  <i class="toggle icon-caret-down"></i>
  <span class='title'>Section List</span>
</div>
<ol>
  {{#each sections}}
    <li data-section-cid="{{cid}}" class='section-numbering' draggable="true">
      <div class='section'>
        <a href="#section-{{_id}}">{{title}}</a>
      </div>
    </li>
  {{/each}}
</ol>
