<div class="section" id="section-{{section._id}}">
  <h2>
    {{addSubViewTo thisView "TextEditView" type='input'
      attributeName='title' model=sectionModel disableNewlines=true}}
  </h2>
  
  {{#if isEditable}}
    <button class="delete-section">
      <i class="icon-remove"></i>Delete this section
    </button>
  {{/if}}

  {{#if visualisation}}
    {{addSubViewTo thisView "VisualisationView" visualisation=visualisation}}
  {{/if}}

  {{#if narrative}}
    {{addSubViewTo thisView "TextEditView" type='input'
      attributeName='content' model=narrative}}
  {{/if}}

  {{#if isEditable}}
    <div class="section-actions">
      {{#unless narrative}}
        <button class="add-narrative">
          <i class="icon-align-justify append"></i>Add text
        </button>
      {{/unless}}

      {{#unless visualisation}}
        <button class="add-visualisation">
          <i class="icon-table append"></i>Add visualisation
        </button>
      {{/unless}}
    </div>
  {{/if}}
</div>
