<h2>{{section.title}}</h2>
<h3>Nitrate-N concentrations (µg/L) in Abu Dabhi Emirate waters.</h3>
{{#if narrative}}
  {{addSubViewTo ../thisView "NarrativeView" narrative=../narrative}}
{{/if}}
{{#each visualisations}}
  {{addSubViewTo ../thisView "VisualisationView" visualisation=this}}
{{/each}}

