<section>
  <h2>{{section.title}}</h2>
  {{addSubViewTo thisView "VisualisationView" visualisation=visualisation}}
</section>

<section>
  {{#if narrative}}
  <h2>{{section.title}}</h2>
    {{addSubViewTo ../thisView "NarrativeView" narrative=../narrative}}
  {{/if}}
</section>
