<h4>{{indicator.title}}</h4>
<button class="delete delete-visualisation">
  <i class="icon-remove"></i>Delete
</button>

{{addSubViewTo thisView visualisationViewName width=680 visualisation=visualisation}}

<div class="download-actions">
  <button class="view-indicator">{{{t "report/visualisation/view_data"}}}</button>
  <button class="download-indicator">{{{t "report/visualisation/download_data"}}}</button>
</div>
