<header>
  <h3>{{{t "report/visualisation/filters/title"}}}</h3>
  <a href="#">{{{t "report/visualisation/filters/reset"}}}</a>
</header>

<ul class='filter-fields'>
  {{#each fields}}
    {{addSubViewTo ../thisView subViewName attributes=this visualisation=../visualisation}}
  {{/each}}
</ul>
