{{addSubViewTo thisView visualisationViewName width=680 visualisation=visualisation}}

<div class="download-actions">
  <button class="view-indicator">View Data</button>
  <button class="download-indicator">Download Data</button>
</div>
