{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}

{{#contentFor 'extra-body'}}
  class="theme-list"
{{/contentFor}}

<div class="content">
  <div class="indicators-container">
    <div class="report-content">
      {{#themes}}
      <div class="theme-block">
        <a href="/themes/{{_id}}">
          <h2>{{title}}<span>›</span></h2>
        </a>

        <div class="description-block">
          {{{truncate description 230}}}
          <a href="/themes/{{_id}}">(Read more)</a>
        </div>

        {{> indicatorList indicators }}
      </div>
      {{/themes}}
    </div>
  </div>
</div>
