<div class="report-title">
  <div class="time-period">January - March 2013</div>
  <h1>{{report.title}}</h1>
  <div class="report-extra">
    <div class="last-update"><a href="#" data-toggle="tooltip" title="Last update"><i class="icon-time append"></i></a>1st of April, 18:23</div>
    <div class="who"><a href="#" data-toggle="tooltip" title="Report owner"><i class="icon-user append"></i></a>Dr. Anybody</div>
  </div>
</div>
<section>
  <div class="section-title">
    <h2>Brief</h2>
  </div>
  <p>{{report.brief}}</p>
</section>
