{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/about.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  {{> help_nav }}
{{/contentFor}}

<div id="heading-container">
  <section>
    <h1>Partners</h1>
  </section>
</div>

<div class='help-page'>
    
  <section>
    <h2>AGEDI</h2>
    <p>The lack of quality, quantifiable environmental data has proven a major hindrance to the global process of achieving sustainable development. The result is that throughout the world socio-economic and environmental decision makers are being challenged to make vital decisions without the necessary data. </p>
    <p>In this spirit, the Abu Dhabi Global Environmental Data Initiative (AGEDI) was launched on 2 September 2002, at the World Summit on Sustainable Development (WSSD) in Johannesburg by the United Arab Emirates (UAE) as a Type II Initiative. Today the Environment Agency – Abu Dhabi (EAD) champions AGEDI locally, whilst the United Nations Environment Programme (UNEP) champions it regionally and globally. </p>
    <p>Initially contributing to the development and launch of AGEDI was UAE’s concern about the approach and criteria used for the results of the Environmental Sustainability Index (ESI), produced by the World Economic Forum in February 2002. The UAE in this Index was ranked 141 out of 142 countries, with an ESI of 25.7. </p>
    <p>It was recognised that the application of non-Region specific measures and associated indicators presented skewed results. The need to ensure readily accessible, accurate and relevant data from which to inform sound environmental management, monitoring and performance was emphasised. </p>
    <p>Under the guidance of His Highness Sheikh Khalifa bin Zayed Al Nahyan a Steering Panel was formed and entrusted with the responsibility of preparing the proposal to establish AGEDI. Made public on May 2, 2002, international dialogue then took place which initially promoted the Initiative in the United States and to the United Nations. </p>
    <p>Today, AGEDI works with Partners, Members and stakeholders throughout the world to achieve a more sustainable future through ‘best-impact’ access to environmental and societal data. AGEDI’s partners include the European Environment Agency (EEA), the UAE Ministry of Environment and Water (MoEW) and the United Nations Environmental Programme (UNEP) and the World Conservation Monitoring Centre (WCMC). </p>
    <p>AGEDI’s work includes: </p>
    <ul>
      <li>Monitoring and enabling environmental and societal data collection and assessment across world-wide networking movements </li>
      <li>Ensuring capability and capacity building to support “best impact” and the application of data and information for local, national, regional, and global environment decision making Identifying needs and working with theme experts to ensure sustainable developmental planning is based on accurate, timely, usable and updated high quality data.</li>
    </ul>
  </section>

  <section>
    <h2>Environment Agency – Abu Dhabi (EAD) </h2>
    <p>The Environmental Research and Wildlife Development Agency (ERWDA) was created in 1996 to protect the natural wealth of the Emirate of Abu Dhabi, and to promote sustainable development. </p>
    <p>The UAE Federal Environment Agency was formed in 1993 to manage the environment of the Emirates and to implement national environmental laws. ERWDA was restructured and renamed the Environment Agency - Abu Dhabi (EAD) in 2005, giving it more authority on all environmental efforts. </p>
    <p>EAD is a governmental agency committed to protecting and managing biodiversity, providing a clean environment and promoting Sustainable Development in the Emirate of Abu Dhabi. Their work includes water resources and water quality, climate change and air quality, marine and terrestrial biodiversity and wildlife conservation. In order to develop and implement policies, regulate business operations, deliver targeted projects and run environmental education and awareness programmes.</p>
  </section>

  <section>
    <h2>UNEP</h2>
    <p>UNEP is a strategic partner with AGEDI and EAD as outlined in Section 1.4. The following UNEP sections will work in partnership with EAD and AGEDI during the West Asia SOER-Live project: </p>
    <ul>
      <li>The Division of Early Warning and Assessment (DEWA-Africa) aims to improve access to meaningful environmental data and information, and increase capacity to use environmental information for decision-making and action.</li>
      <li>The Regional Office for West Asia (ROWA) coordinates UNEP's programme of work in the region. The Regional Office acts as the link between UNEP and the countries in the region, and promotes collaboration and partnerships with organisations active in sustainable development in West Asia. </li>
    </ul>
  </section>

  <section>
    <h2>The World Conservation Monitoring Centre (WCMC)</h2>
    <p>The World Conservation Monitoring Centre (WCMC) is UNEP’s specialist biodiversity assessment body, and the Centre for UNEP’s collaboration with WCMC. </p>
    <ul>
      <li>WCMC is the primary consultant. Both the Environmental Consultant and the GI 
      Consultant will report directly to WCMC to curtail the decision making chain. </li>
    </ul>
      <img class="diagram" src="images/partner-structure.png" width="850px" height="" alt="" />
  </section>

  <section>
    <h2>Third Party</h2>
    <ul>
      <li><strong>Environmental Consultant: </strong></li>
      <ul>
        <li>Determine the core set of environmental indices and indicators required by the GI Consultant and WCMC to develop the SOER-Live Beta (Abu Dhabi) and West Asia SOER-Live </li>
        <li>Collaborate closely with WCMC to develop a single project plan (MS Project) </li>
        <li>Attach the CV of staff with relevant experience to the RFP </li>
      </ul>
      <li><strong>GI Consultant: </strong></li>
      <ul>
        <li>Develop import/export tool, geo-processing tools and ESRI geo-database that integrates seamlessly into the West Asia SOER-Live application </li>
        <li>Co-located with WCMC (Cambridge, UK) or within commutable distance </li>
        <li>Collaborate closely with WCMC to develop a single project plan (MS Project) </li>
        <li>Attach the CV of staff with relevant experience to the RFP </li>
      </ul>
    </ul>
       
    <p>Third party consultants will be engaged in consultation with WCMC to ensure that their services are available as and when required, in order to minimise cost and time. It is expected that the Environmental Consultant will be required as soon as the project has been initiated in order to develop the core set of environmental indicators and indices. It is anticipated that the GI Consultant will only be required once the core set of environmental indicators and indices have been approved. </p>
    <p>It is the responsibility of each third party to ensure that they jointly organise regular communication with WCMC, selecting the appropriate persons with decision making; financial and other responsibilities required to meet the project deadlines. </p>
    <p>A single RFP that integrates both the environmental and GI component working under WCMC, the primary consultant, would be advantageous given the very tight deadline to complete Phase 1.</p>


  </section>
</div>
