{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}

{{#contentFor 'breadcrumbs'}}
  <li><a href="/indicators">Indicators</a></li>
{{/contentFor}}


<div class="content">
  <header>
    <h1>{{{t "indicators/title"}}}</h1>
  </header>

  <div class='intro-text'>
    Here is some text introducing the themes page. Should this actually be the landing page, and then this text would summarise the state of environment.

  </div>
  <div class="indicators-container">
    <div class="report-content">
      {{#themes}}
        <h2>{{title}}</h2>
        {{#unless indicators}}
        <h3>
          No indicators
        </h3>
        {{/unless}}

        {{#indicators}}
          <a href="/indicators/{{id}}"><h3>{{title}}</h3></a>
        {{/indicators}}
      {{/themes}}
    </div>


    <div class="report-sidebar">
    </div>
  </div>
</div>
