{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/report.css">
  <link rel="stylesheet" href="/css/dashboard.css">
{{/contentFor}}


<div class="content">
  <div class="report-list-title">
    <h1>Indicators</h1>

    <button class="grey">
      <i class="icon-file-text-alt append"></i><span class="show">New Indicator</span>
    </button>
  </div>
  
  <div class="report-content">
    {{#indicators}}
      <section class='reports'>
        <div class="section-title">
          <small>
            <i class="icon-time append"></i>Last updated on 1st of April, 18:23 by Dr. Anybody
          </small>
          <h3>{{title}}</h3>
          <h4>2012 |
            <div class="report-bookmark">
              <i class="icon-bookmark"></i> <span>Bookmark this indicator</span>
            </div>
          </h4>
          {{description}}
        </div>
      </section>
    {{/indicators}}
  </div>
</div>
