<form action="/indicators/import_gdoc">
  <label for="indicator-form-spreadsheet-key">Google Spreadsheet Key</label>
  <input type="text" name="spreadsheetKey" id="indicator-form-spreadsheet-key">

  <button type="submit">Import Indicator</button>
</form>