{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/indicator.css">

  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/application.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      var visualisation = new Backbone.Models.Visualisation();
      visualisation.set('data', Backbone.Faker.Reports.createFakeData())

      var bar_chart = new Backbone.Views.BarChartView({
        visualisation: visualisation,
        width: 950
      });
      
      bar_chart.render();
      $('#visualisation').append(bar_chart.el);
    });
  </script>
{{/contentFor}}

<div class="content">
  <article>
    <header>
      <h1>{{indicator.title}}</h1>

      <button class="grey">
        <i class="icon-download append"></i><span class="show">Download the dataset</span>
      </button>
    </header>
    <div id='visualisation'></div>

    <div class='main-content'>
      <section class='introduction'>
        <strong>
          Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod.
        </strong>
      </section>

      <section>
        <h2>Guidance for use</h2>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p>
      </section>

      <section>
        <h2>Rationale</h2>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui.</p>
      </section>

      <section>
        <h2>Narratives for this indicator</h2>
        <ul class="indicator-narratives">
          <li>
            <header>
              <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody</small>
              <h2>
                Narrative 1
              </h2>
              <h4>Nitrate-N concentrations (µg/L) in Abu Dabhi Emirate waters.</h4>
            </header>
            <p>
              This is the description of the narrative.
            </p>
          </li>
          <li>
            <header>
              <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody</small>
              <h2>
                Narrative 1
              </h2>
              <h4>Nitrate-N concentrations (µg/L) in Abu Dabhi Emirate waters.</h4>
            </header>
            <p>
              This is the description of the narrative.
            </p>
          </li>
        </ul>
        </ul>
      </section>
    </div>

    <aside class="content-sidebar metadata">
      <h3>Indicator owned by</h3>
      <p>
        <i class="icon-user append"></i>
        Dr. Anybody
      </p>

      <section>
        <h3>Metadata</h3>
        <ul>
          <li>
            <h4>Category</h4>
            <span>
              <i class="icon-cloud append"></i>
              Atmosphere
            </span>
          </li>
          <li>
            <h4>Most recent data collected</h4>
            <span class="outdated">
              3 June 2013
              <span class="outdated-notice">
                <i class="icon-warning-sign"></i>
                outdated data
              </span>
            </span>
          </li>
          <li>
            <h4>Oldest data collected</h4>
            <span>3 June 2013</span>
          </li>
        </ul>
      </section>

      <section>
        <h3>Similar Indicators</h3>
        <ul>
          <li>
            Average evaporation rate
          </li>
          <li>
            Average minimum and maximum temperature
          </li>
        </ul>
      </section>
    </aside>
  </article>
</div>

