{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/report.css">
  <link rel="stylesheet" href="/css/dashboard.css">

  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/application.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      new Backbone.Controllers.ReportsController({reports: {{{reportsJSON}}} });
    });
  </script>
{{/contentFor}}

<div class="content">
  <header>
    <h1>{{{t "reports/title"}}}</h1>

    <a href="/reports/new" class="button grey">
      <i class="icon-file-text-alt"></i> {{{t "header/new_report"}}}
    </a>
  </header>

  <div class="reports-container">
  </div>

  <div class="clear"></div>
</div>
