{{!< main}}

{{#contentFor 'header'}}

  <link rel="stylesheet" href="/css/report.css">
  
  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/backbone-associations-min.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/application.js"></script>
  
  <script type="text/javascript">
    $(document).ready(function(){
       new Backbone.Controllers.ReportsController();
    });
  </script>

{{/contentFor}}

    <div class="content">
        <div class="report-content">
            <div class="report-title">
                <div class="time-period">January - March 2013</div>
                <h1>Marine water quality report</h1>
                <div class="report-extra">
                    <div class="last-update">
                        <span>Last update</span>
                        <i class="icon-time append"></i>1st of April, 18:23
                    </div>
                    <div class="clear"></div>
                    <div class="who">
                        <span>Report owner</span>
                        <i class="icon-user append"></i>Dr. Anybody
                    </div>
                </div>
            </div>
            <section>
                <div class="section-title">
                    <h2>Introduction</h2>
                </div>
                <p>Enviroment Agency Abu Dabhi plubishes this quarterly Marine Water Quality (MWQ) report four times a year to present the MWQ status during the previous three-months based on the results of MWQ monitoring along the Abu Dabhi Emirate coast. The <a href="#">marine water quality</a> stations are distributed throughout the territorial waters of the Emirate. This report focuses on six MWQ parameters (europhic and bacterial) for which recommended standars have been established to protect marine biota and human health.</p>
                <!--<p><button>Share something</button></p>-->
                <p>Euttophic parameters are nutrients, especially various compounds of nitrogen, which result largely from human activities. High levels of nutrients in marine water can result in enhanced growth of aquatic plants, especially phytoplankton (algae). As a result, phytoplankton populations increase rapidly, and the excess, unconsumed plant material can result in problem such as diminished water clarity and dissolved oxygen (DO) depletion in bottom waters. Severe eutrophic conditions may also contribute to the formation of harmful algal blooms (HABs), which may include toxic algal species that can cause foul odors, skin rashes from contact with the water, fish kills, and shellfish poisoning , and can disrupt the normal operation of desalination plants by clogging their seawater filtration systems.</p>
                <p>Increasing eutrophication and higher frequencies of harmful algal blooms has been observed in Abu Dabhi waters over recent years. This quarterly report cover the following eutrophic parameters: phosphate-P, ammonia-N, chlorophyll-a, nitrate-N and a dissolved oxygen.</p>
                <p>EAD has been and will continue to be alert to bacterial levels in order to control public health risks of recreational exposure to marine water. This quarterly report presents observed levels of enterococci - the best indicator of sewage contamination of marine water.</p>
            </section>
            <section id='user-section'>
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Nitrate-N</h2>
                    <h3>Nitrate-N concentrations (µg/L) in Abu Dabhi Emirate waters.</h3>
                </div>
                <p>Nitrate elves were generally high during the quarter. Concentrations at 12 of the 23 marine water quality stations exceeded the recommended threshold (220 µg/L). Marine water quality monitoring stations in confined areas and point sources far exceeded the recommended threshold. Nitrate concentrations are indicative of a significant marine water quality issue for the Emirate.</p>
                <img src="/images/visualisations/01.png" alt="visualisation 1">
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Ammonia-N</h2>
                    <h3>Ammonia-N concentrations (µg/L) in Abu Dabhi Emirate waters.</h3>
                </div>
                <p>Ammonia concentrations were high during the quarter. Concentrations at 14 of the 23 marine water quality stations exceeded the recommended threshold (90 µg/L). Ammonia levels at all marine water quality monitoring stations in confined areas, point sources, public beaches, within ports and marinas, and near desalination plants all exceeded the recommended threshold. Ammonia levels represent a potential MWQ issue for the Emirate.</p>
                <img src="/images/visualisations/02.png" alt="visualisation 2">
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Phosphate-P</h2>
                    <h3>Phosphate-P concentrations (µg/L) in Abu Dabhi Emirate waters.</h3>
                </div>
                <p>Phosphate levels were high during the quarter. Phosphate concentrations at 9 of the 23 marine water quality stations exceeded the recommended threshold (150 µg/L) during the first quarter of 2013. Marine water quality monitoring stations in confined areas, point sources, and near desalination plants all exceeded the recommended threshold. High phosphate concentrations signal a significant issue for the Emirate's marine environment.</p>
                <img src="/images/visualisations/03.png" alt="visualisation 3">
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Chlorophyll-a</h2>
                    <h3>Chlorophyll-a concentrations (µg/L) in Abu Dabhi Emirate waters.</h3>
                </div>
                <p>Chlorophyll-a levels at 14 of the 23 marine water quality stations exceeded the recommended threshold (0.7 µg/L) during the first quarter of 2013. Marine water quality monitoring stations in confined areas far exceeded the recommended threshold. High chlorophyll levels indicate a risk for harmful algal blooms, and are thus a cause concern.</p>
                <img src="/images/visualisations/04.png" alt="visualisation 4">
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Dissolved Oxygen</h2>
                    <h3>Dissolved Oxygen concentrations (mg/L) in Abu Dabhi Emirate waters.</h3>
                </div>
                <p>Dissolved Oxygen (DO) (oxygen concentration of marine water) levels met recommended water quality standards for Abu Dhabi's marine environment during the first quarter of 2013. All stations were above the recommended minimum threshold of 4mg/L. Station 2 had the lowest DO average for the quarter (4.1mg/L). Marine water quality stations near ports and marinas had the lowest DO concentrations for the quarter, but all were above the recommended minimun.</p>
                <img src="/images/visualisations/05.png" alt="visualisation 5">
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Enterococci</h2>
                    <h3>Enterococci levels (MON/100 ml) in Abu Dabhi Emirate waters.</h3>
                </div>
                <p>Enterococci concentrations were elevated within Abu Dhabi's marine environment. Enterococci are monitored at all stations and concentrations at two of those stations exceeded the recommended threshold (280 MPN/100ml) during the first quarter of 2013. Enterococci concentrations were elevated in confined areas and point sources, but not at public beaches. Enterococci concentrations are an indicator of sewage contamination and thus an important parameter to monitor within the Emirate's marine environment.</p>
                <img src="/images/visualisations/06.png" alt="visualisation 6">
            </section>
            <section>
                <div class="section-title">
                    <small><i class="icon-time append"></i></a>Last updated on 1st of April, 18:23 by Dr. Anybody | <a href="">View indicator</a></small>
                    <h2>Emergency Incident Investigations</h2>
                    <h3>The following marine water quality emergency incidents were investigated by EAD during the quarter.</h3>
                </div>
                <p>Enterococci concentrations were elevated within Abu Dhabi's marine environment. Enterococci are monitored at all stations and concentrations at two of those stations exceeded the recommended threshold (280 MPN/100ml) during the first quarter of 2013. Enterococci concentrations were elevated in confined areas and point sources, but not at public beaches. Enterococci concentrations are an indicator of sewage contamination and thus an important parameter to monitor within the Emirate's marine environment.</p>
                <ul>
                    <li>Multispecies micro algal bloom near Emirates Steel Plant (occurred Jan. 14, 2013).</li>
                    <li>Algal bloom near ADNEC (Feb. 19, 2013) Phytoplankton qualitative analysis confirmed the bloom was due to Oscillatoria sp (Cyanobacteria) and Pseudo-nitzschia sp.</li>
                    <li>Weekly water quality monitoring of storm drain outfalls and ambient marine water along Eastern Corniche due to odor complaints was initiated in February and continues to date. High levels of nutrients and enterococci detected.</li>
                    <li>Occurrence of Cochlodinium polykrikoides (Feb 2013). During routine algal bloom monitoring the MWQ team recorded harmful dinoflagellate Cochlodinium polykrikoides for the first time in Abu Dabhi Emimrate waters. Fortunately the cell concentrations was low, and the species disappeared after a week.</li>
                    <li>Investigation of harmful algal bloom threat Umm Al Nar desalination plant (Feb 2013). The movement of a potentially harmful algal bloom towards the Umm Al Nar desalination plant was investigated.</li>
                </ul>
                <p>Following is a summary of the algal bloom incidents recorded by EAD during this quarter.</p>
                <img src="/images/visualisations/07.png" alt="visualisation 7">
            </section>
            <section>
                <div class="section-title">
                    <h2>Conclusion</h2>
                </div>
                <p>The marine environment is an important economic and cultural component of Abu Dabhi. Thus, monitoring marine water quality is vital to the continuation and sustainability of the Emirate's fisheries, other marine biota and human health issues can all arise from elevated concentrations, of certain pollutants and water quality parameters. Therefore, the monitoring of marine water quality is an important longterm strategy for maintaning the health of Abu Dabhi's Marine Enviroment.</p>
                <p>من الى هتلر مسرح جديدة. أم فرنسية والجنود وتم. قد ذلك إستعمل لألمانيا. الربيع، المبرمة الدولارات حيث و, القصف الأحمر شيء قد. أي جزيرتي بريطانيا، تشيكوسلوفاكيا لمّ, من شرسة أحكم الأثنان بحق.</p>
            </section>
        </div>
        <div class="report-sidebar">
            <button class="grey">
                <i class="icon-bookmark-empty append"></i><i class="icon-bookmark append"></i><span class="show">Bookmark this report</span><span>Bookmarked report</span>
            </button>
            <div class="recent-changes">
                <div class="recent-changes-title">
                    <i class="icon-edit append"></i>Recent changes
                </div>
                <ul>
                    <li><strong>4 days ago</strong>: Dr. Anybody changed Amonia-P section.</li>
                    <li><strong>10 days ago</strong>: Dr. Anybody published Nitrato-N section.</li>
                    <li><strong>1 month ago</strong>: Dr. Anybody published this report.</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="related-reports">
        <div class="double-column">
            <h2>You may also want to see...</h2>
            <div class="column left">
                <div class="related-report">
                    <h4><a href="">Marine water quality report 4 <span class="tag">view report</span></a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
                </div>
            </div>
            <div class="column right">
                <div class="related-report">
                    <h4><a href="">Marine water quality report 3 <span class="tag">view report</span></a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus mi urna, consequat feugiat ante feugiat eu. In eget nibh sit amet sapien feugiat vestibulum vel nec ante.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <script>
      $('.report-extra').tooltip({
        selector: "a[data-toggle=tooltip]"
      });
    </script>
    </div>
  </body>
</html>
