<!DOCTYPE html>
<html>
  <head>
    <title>Report show page</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/d3/d3.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/tooltip/index.js"></script>
    <script src="/js/underscore/underscore-min.js"></script>
    <script src="/js/backbone/backbone-min.js"></script>
    <script src="/js/backbone-associations/backbone-associations.js"></script>
    <script src="/js/handlebars.js/dist/handlebars.js"></script>
    <script src="/js/diorama/index.js"></script>
    <script src="/js/application.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
         new Backbone.Controllers.ReportsController();
      });
    </script>
  </head>
  <body>
    <header>
        <div class="caption">Abu Dhabi 2013</div>
    </header>
    <div class="content">
        <div class="report-content">
            <section id='user-section'>
            </section>
            <section>
                <div class="section-title">
                    <h2>Conclusion</h2>
                </div>
                <p>The marine environment is an important economic and cultural component of Abu Dabhi. Thus, monitoring marine water quality is vital to the continuation and sustainability of the Emirate's fisheries, other marine biota and human health issues can all arise from elevated concentrations, of certain pollutants and water quality parameters. Therefore, the monitoring of marine water quality is an important longterm strategy for maintaning the health of Abu Dabhi's Marine Enviroment.</p>
                <p>من الى هتلر مسرح جديدة. أم فرنسية والجنود وتم. قد ذلك إستعمل لألمانيا. الربيع، المبرمة الدولارات حيث و, القصف الأحمر شيء قد. أي جزيرتي بريطانيا، تشيكوسلوفاكيا لمّ, من شرسة أحكم الأثنان بحق.</p>
            </section>
        </div>
        <div class="report-sidebar">
            <button class="grey">
                <i class="icon-bookmark-empty append"></i><i class="icon-bookmark append"></i>Bookmark this report
            </button>
            <div class="recent-changes">
                <div class="recent-changes-title">
                    <i class="icon-edit append"></i>Recent changes
                </div>
                <ul>
                    <li><strong>4 days ago</strong>: Dr. Anybody changed Amonia-P section.</li>
                    <li><strong>10 days ago</strong>: Dr. Anybody published Nitrato-N section.</li>
                    <li><strong>1 month ago</strong>: Dr. Anybody published this report.</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!--<h1>من الى هتلر مسرح جديدة. أم فرنسية والجنود وتم. قد ذلك إستعمل لألمانيا</h1>
        <p>من الى هتلر مسرح جديدة. أم فرنسية والجنود وتم. قد ذلك إستعمل لألمانيا. الربيع، المبرمة الدولارات حيث و, القصف الأحمر شيء قد. أي جزيرتي بريطانيا، تشيكوسلوفاكيا لمّ, من شرسة أحكم الأثنان بحق.

    بـ وكسبت الإنزال يكن, فقد الألماني المتساقطة، و. إيو ما تحرّك لإعلان وبلجيكا،, الدنمارك ناجازاكي وصل ٣٠. وقد في المقيتة المدنيين, بـ لها عُقر لأداء الألمانية،. حشد بـ الضغوط النمسا بأضرار, بعد و تشيرشل اسبوعين الإطلاق. وجزر عصبة تعداد أضف ما. وصل تم العدّ ولاتّساع, فكانت الشتوية اليابانية و إيو.

    العام، المعركة، المقاومة كل الا, من فقد دخول بوزيرها, لكل بالرغم بالقنابل الأمامية عل. أي ساعة بمعارضة القوقازية جوي. كلّ بالقصف البلطيق ولاتّساع من. حول وقبل بالمحور و, عن برلين إستيلاء الأمريكي انه. بحق ووصف وبدأت الأمريكي، ثم. بشرية جديداً كل غير, كل وقد معقل وانتهاءً المنتصرة.

    هذا أملاً إعادة إذ. عام سقوط ترتيب وبولندا و, خلاف معارضة للأراضي و كان. هذه لم بشرية ستالينجراد،, وقد في وبعض ويعزى ويتّفق. ما خسائر تشكيل الألمان عرض, عن وتنامت الأيديولوجية، ذلك.

    ما قام مشارف والمعدات. وقبل معزّزة الإقتصادي قصف أم, شبح تم الشطر الغربي مليارات. ذلك وبعض الساحل أن, تم الخاسر الواقعة بها. للحرب المنتصر البريطاني غزو أم, فعل وانهاء بالرّغم هو, هو سقطت العالمي والجنود أما. إذ حتى الغالي الجنود الياباني, التي المجتمع كان هو, إذ يبق بدفع لقهر وبداية.</p>-->
        
        <script>
            $('.report-extra').tooltip({
                selector: "a[data-toggle=tooltip]"
            });
        </script>
    </div>
  </body>
</html>
