{{!< main}}

{{#contentFor 'header'}}
  <link rel="stylesheet" href="/css/report.css">
  <link rel="stylesheet" href="/css/leaflet.css">

  <script src="/js/lib/d3.min.js"></script>
  <script src="/js/lib/backbone-relational.js"></script>
  <script src="/js/lib/handlebars.js"></script>
  <script src="/js/lib/diorama.js"></script>
  <script src="/js/lib/leaflet.js"></script>
  <script src="/js/lib/jquery.sortable.min.js"></script>
  <script src="/js/application.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      i18n.onReady(function() {
        new Backbone.Controllers.ReportController({{{reportData}}});
        new Backbone.Views.SaveStatusView();
      });

      $('body,html').animate({scrollTop: '360px'}, 50);
    });
  </script>
{{/contentFor}}

<div id="report-container">
</div>

<script>
  $('.report-extra').tooltip({
    selector: "a[data-toggle=tooltip]"
  });
</script>
