{
  "instance_name": "Abu Dhabi",
  "indicators": {
    "primary_type": "standard"
  },
  "db": {
    "name": "nrt_env"
  },
  "features": {
    "ad_branding": true,
    "ldap": false,
    "dpsir_filtering": true
  }
}
